# Lab 6

In [ ]:
install.packages("DBI")
install.packages("dbplyr")
install.packages("RSQLite")  # This package can take several minutes to install!
install.packages("nycflights13")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [ ]:
library(tidyverse)

# Joins

This section of this lab is about **joins**, covered in [Chapter 20 of R4DS](https://r4ds.hadley.nz/joins.html).

### Overview

In data science, we often find that related information is spread across multiple data tables. A good example of this is the data from the `nycflights13` package. As you've seen in lecture, there are actually five related tables in `nycflights13`: (1) `flights`, (2) `weather`, (3) `planes`, (4) `airlines`, and (5) `airports`.

We may want to analyze data from two, three, four, or even all five of these data frames at the same time, as this would allow us to uncover patterns and relationships that we could not observe in each one individually. For example, how are flights affected by weather? Do different airports and airlines react differently to bad weather conditions?

Fortunately, there are certain variables (i.e., **keys**) that appear in more than one of the `nycflights13` data tables and uniquely identify observations in at least one of them. We can use these variables to **join** the tables together. There are a few different types of joins — here's a hierarchy of all of them:

- Mutating joins
    - Inner joins
        - `inner_join()`
    - Outer joins
        - `full_join()`
        - `left_join()`
        - `right_join()`
- Filtering joins
    - Semi-joins
        - `semi_join()`
    - Anti-joins
        - `anti_join()`

### Load in the data

We're going to take a break from `nycflights13` in this lab. Instead, we'll work with some of the baseball data frames from the `Lahman` package:

In [ ]:
install.packages("Lahman")
library(Lahman)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

We'll mostly be working with the `People`, `Batting`, and `Salaries` data frames. The documentation for the Lahman database is [here](https://cran.r-project.org/web/packages/Lahman/Lahman.pdf).

### Keys

A key is a variable that connects a pair of data frames and allows us to join them together. More specifically,

- A **primary key** is a variable (or set of variables) that uniquely identifies each observation.
    - There is at most one row in the table that corresponds to a particular value of the primary key.
    - Sometimes the observations in a table are uniquely identified by more than one variable — in this case, the set of uniquely identifying variables is called a **compound key**.
- A **foreign key** is a variable (or set of variables) that corresponds to a primary key in another table.
    - In a well-designed database, primary keys and their corresponding foreign keys have the same names.

Let's look at some examples.

In the `People` data frame, each row is uniquely identified by `playerID`, so `playerID` is a **primary key** for `People`. One way to check this is to count the number of rows in the table for each `playerID` and then filter to rows where $n > 1$. If we've correctly identified the primary key, then we will find no `playerID`s for which $n > 1$:

In [ ]:
People %>%
  head(5)

  playerID  birthYear birthMonth birthDay birthCountry birthState birthCity
1 aardsda01 1981      12         27       USA          CO         Denver
2 aaronha01 1934       2          5       USA          AL         Mobile
3 aaronto01 1939       8          5       USA          AL         Mobile
4 aasedo01  1954       9          8       USA          CA         Orange
5 abadan01  1972       8         25       USA          FL         Palm Beach
  deathYear deathMonth deathDay ⋯ weight height bats throws debut
1   NA      NA         NA       ⋯ 215    75     R    R      2004-04-06
2 2021       1         22       ⋯ 180    72     R    R      1954-04-13
3 1984       8         16       ⋯ 190    75     R    R      1962-04-10
4   NA      NA         NA       ⋯ 190    75     R    R      1977-07-26
5   NA      NA         NA       ⋯ 184    73     L    L      2001-09-10
  finalGame  retroID  bbrefID   deathDate  birthDate
1 2015-08-23 aardd001 aardsda01 <NA>       1981-12-27
2 1976-10-03 aaroh101 aaronha01 2021-01-22 1934-02-05
3 1971-09-26 aarot101 aaronto01 1984-08-16 1939-08-05
4 1990-10-03 aased001 aasedo01  <NA>       1954-09-08
5 2006-04-13 abada001 abadan01  <NA>       1972-08-25

In [ ]:
People %>%
    count(playerID) %>%
    filter(n > 1)

     playerID n

There's also a `playerID` column in the `Batting` table. We say that `Batting$playerID` is a **foreign key** for `People$playerID` since each `playerID` in `Batting` corresponds to one `playerID` in `People`.

However, `playerID` is *not* a primary key for `Batting`. For some `playerID`s, there are multiple rows in `Batting`:

In [ ]:
Batting %>%
  head(5)

  playerID  yearID stint teamID lgID G  AB  R  H  X2B ⋯ RBI SB CS BB SO IBB HBP
1 abercda01 1871   1     TRO    NA    1   4  0  0  0  ⋯  0  0  0  0  0  NA  NA
2 addybo01  1871   1     RC1    NA   25 118 30 32  6  ⋯ 13  8  1  4  0  NA  NA
3 allisar01 1871   1     CL1    NA   29 137 28 40  4  ⋯ 19  3  1  2  5  NA  NA
4 allisdo01 1871   1     WS3    NA   27 133 28 44 10  ⋯ 27  1  1  0  2  NA  NA
5 ansonca01 1871   1     RC1    NA   25 120 29 39 11  ⋯ 16  6  2  2  1  NA  NA
  SH SF GIDP
1 NA NA 0
2 NA NA 0
3 NA NA 1
4 NA NA 0
5 NA NA 0

In [ ]:
Batting %>%
    count(playerID) %>%
    head(5)

  playerID  n
1 aardsda01  9
2 aaronha01 23
3 aaronto01  7
4 aasedo01  13
5 abadan01   3

This makes sense because each row in `Batting` contains the statistics for one player in one season, and most players' careers last longer than just one season.

So what is the primary key for `Batting`? After reading through the [Lahman documentation](https://cran.r-project.org/web/packages/Lahman/Lahman.pdf), we can infer that each row in `Batting` is uniquely identified by the combination of `playerID`, `yearID`, and `stint`. These three variables form a **compound key**, and this compound key is a primary key for `Batting`:

In [ ]:
Batting %>%
    count(playerID, yearID, stint) %>%
    filter(n > 1)

     playerID yearID stint n

### Mutating joins

Now that we've seen how the tables in the `Lahman` database are connected by keys, we can practice using joins to actually connect them.

The first category of joins you should know about are **mutating joins**, which match observations between two data frames and then $\underline{\text{add variables}}$ from one data frame to the other. There are four types of mutating joins: (1) inner, (2) left, (3) right, and (4) full. The latter three are often called outer joins.

<img src="https://r4ds.hadley.nz/diagrams/join/venn.png" width="500" />

#### Mutating join #1: `inner_join()`

Suppose we have two data frames **x** and **y**.

**`inner_join(x, y)`** preserves all rows in **x** that have a matching key in **y**, and it adds the columns of **y** to **x**.

Let's test this out with the `Batting` and `Salaries` data frames. Note that `Batting` has 112,184 rows and 22 columns, while `Salaries` has 26,428 rows and 5 columns:

In [ ]:
glimpse(Batting)
glimpse(Salaries)

Rows: 112,184
Columns: 22
$ playerID <chr> "abercda01", "addybo01", "allisar01", "allisdo01", "ansonca01…
$ yearID   <int> 1871, 1871, 1871, 1871, 1871, 1871, 1871, 1871, 1871, 1871, 1…
$ stint    <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ teamID   <fct> TRO, RC1, CL1, WS3, RC1, FW1, RC1, BS1, FW1, BS1, CL1, CL1, W…
$ lgID     <fct> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ G        <int> 1, 25, 29, 27, 25, 12, 1, 31, 1, 18, 22, 1, 10, 3, 20, 29, 1,…
$ AB       <int> 4, 118, 137, 133, 120, 49, 4, 157, 5, 86, 89, 3, 36, 15, 94, …
$ R        <int> 0, 30, 28, 28, 29, 9, 0, 66, 1, 13, 18, 0, 6, 7, 24, 26, 0, 0…
$ H        <int> 0, 32, 40, 44, 39, 11, 1, 63, 1, 13, 27, 0, 7, 6, 33, 32, 0, …
$ X2B      <int> 0, 6, 4, 10, 11, 2, 0, 10, 1, 2, 1, 0, 0, 0, 9, 3, 0, 0, 1, 0…
$ X3B      <int> 0, 0, 5, 2, 3, 1, 0, 9, 0, 1, 10, 0, 0, 0, 1, 3, 0, 0, 1, 0, …
$ HR       <int> 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 3, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0…
$ RBI      <int> 0, 13, 19, 27, 16, 5, 2, 34, 1, 11, 18, 0, 1, 5, 21, 23, 0, 0…
$ SB       <int> 0, 8, 3, 1, 6, 0, 0, 11, 0, 1, 0, 0, 2, 2, 4, 4, 0, 0, 3, 0, …
$ CS       <int> 0, 1, 1, 1, 2, 1, 0, 6, 0, 0, 1, 0, 0, 0, 0, 4, 0, 0, 1, 0, 0…
$ BB       <int> 0, 4, 2, 0, 2, 0, 1, 13, 0, 0, 3, 1, 2, 0, 2, 9, 0, 0, 4, 1, …
$ SO       <int> 0, 0, 5, 2, 1, 1, 0, 1, 0, 0, 4, 0, 0, 0, 2, 2, 3, 0, 2, 0, 2…
$ IBB      <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ HBP      <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ SH       <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ SF       <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ GIDP     <int> 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 2, 0, 1, 2, 0, 0, 0, 0, 3…
Rows: 26,428
Columns: 5
$ yearID   <int> 1985, 1985, 1985, 1985, 1985, 1985, 1985, 1985, 1985, 1985, 1…
$ teamID   <fct> ATL, ATL, ATL, ATL, ATL, ATL, ATL, ATL, ATL, ATL, ATL, ATL, A…
$ lgID     <fct> NL, NL, NL, NL, NL, NL, NL, NL, NL, NL, NL, NL, NL, NL, NL, N…
$ playerID <chr> "barkele01", "bedrost01", "benedbr01", "campri01", "ceronri01…
$ salary   <int> 870000, 550000, 545000, 633333, 625000, 800000, 150000, 48333…

Note also that there are four overlapping columns between these two data frames: `yearID`, `teamID`, `lgID`, and `playerID`.

In [ ]:
Batting %>%
    inner_join(Salaries)

# Equivalently:
# inner_join(Batting, Salaries)

Joining with `by = join_by(playerID, yearID, teamID, lgID)`

      playerID  yearID stint teamID lgID G   AB  R  H   X2B ⋯ SB CS BB SO  IBB
1     ackerji01 1985   1     TOR    AL    61   0  0   0  0  ⋯  0  0  0   0 0
2     agostju01 1985   1     CHA    AL    54   0  0   0  0  ⋯  0  0  0   0 0
3     aguaylu01 1985   1     PHI    NL    91 165 27  46  7  ⋯  1  0 22  26 5
4     alexado01 1985   1     TOR    AL    36   0  0   0  0  ⋯  0  0  0   0 0
5     allenne01 1985   1     SLN    NL    23   2  0   0  0  ⋯  0  0  0   2 0
6     almonbi01 1985   1     PIT    NL    88 244 33  66 17  ⋯ 10  7 22  61 0
7     anderla02 1985   1     PHI    NL    57   4  1   0  0  ⋯  0  0  0   0 0
8     andujjo01 1985   1     SLN    NL    38  94  2  10  2  ⋯  3  1  5  50 0
9     armasto01 1985   1     BOS    AL   103 385 50 102 17  ⋯  0  0 18  90 4
10    ashbyal01 1985   1     HOU    NL    65 189 20  53  8  ⋯  0  0 24  27 2
11    atherke01 1985   1     OAK    AL    56   0  0   0  0  ⋯  0  0  0   0 0
12    ayalabe01 1985   1     CLE    AL    46  76 10  19  7  ⋯  0  0  4  17 1
13    backmwa01 1985   1     NYN    NL   145 520 77 142 24  ⋯ 30 12 36  72 1
14    bailobo01 1985   1     LAN    NL    74 118  8  29  3  ⋯  1  0  3   5 0
15    baineha01 1985   1     CHA    AL   160 640 86 198 29  ⋯  1  1 42  89 8
16    bakerdu01 1985   1     OAK    AL   111 343 48  92 15  ⋯  2  1 50  47 0
17    balbost01 1985   1     KCA    AL   160 600 74 146 28  ⋯  1  1 52 166 4
18    bandoch01 1985   1     CLE    AL    73 173 11  24  4  ⋯  0  1 22  21 0
19    bannial01 1985   1     TEX    AL    57 122 17  32  4  ⋯  8  2 14  17 0
20    bannifl01 1985   1     CHA    AL    34   0  0   0  0  ⋯  0  0  0   0 0
21    barfije01 1985   1     TOR    AL   155 539 94 156 34  ⋯ 22  8 66 143 5
22    barkele01 1985   1     ATL    NL    20  17  0   0  0  ⋯  0  1  0   7 0
23    barrema02 1985   1     BOS    AL   156 534 59 142 26  ⋯  7  5 56  50 3
24    basske01  1985   1     HOU    NL   150 539 72 145 27  ⋯ 19  8 31  63 1
25    baylodo01 1985   1     NYA    AL   142 477 70 110 24  ⋯  0  4 52  90 6
26    beattji01 1985   1     SEA    AL    18   0  0   0  0  ⋯  0  0  0   0 0
27    beckwjo01 1985   1     KCA    AL    49   0  0   0  0  ⋯  0  0  0   0 0
28    bedrost01 1985   1     ATL    NL    37  64  3   5  0  ⋯  0  0  1  22 0
29    bellbu01  1985   2     CIN    NL    67 247 28  54 15  ⋯  0  1 34  27 2
30    bellge02  1985   1     TOR    AL   157 607 87 167 28  ⋯ 21  6 43  90 6
⋮     ⋮         ⋮      ⋮     ⋮      ⋮    ⋮   ⋮   ⋮  ⋮   ⋮   ⋱ ⋮  ⋮  ⋮  ⋮   ⋮
25412 weeksri01 2016   1     ARI    NL   108 180 29  43  9  ⋯ 5  0  20  54 0
25413 werthja01 2016   1     WAS    NL   143 525 84 128 28  ⋯ 5  1  71 139 0
25414 whitety01 2016   1     HOU    AL    86 249 24  54 16  ⋯ 1  0  23  65 1
25415 whitlch01 2016   1     TBA    AL     5   0  0   0  0  ⋯ 0  0   0   0 0
25416 wietema01 2016   1     BAL    AL   124 423 48 103 17  ⋯ 1  0  32  85 1
25417 wilheto01 2016   1     TEX    AL    21   0  0   0  0  ⋯ 0  0   0   0 0
25418 willima07 2016   1     NYA    AL    12  27  4   8  1  ⋯ 0  0   1  12 0
25419 wilsoal01 2016   1     DET    AL    62   0  0   0  0  ⋯ 0  0   0   0 0
25420 wilsoju10 2016   1     DET    AL    66   0  0   0  0  ⋯ 0  0   0   0 0
25421 wilsoty01 2016   1     BAL    AL    24   0  0   0  0  ⋯ 0  0   0   0 0
25422 winklda01 2016   1     ATL    NL     3   0  0   0  0  ⋯ 0  0   0   0 0
25423 wislema01 2016   1     ATL    NL    29  46  2   7  0  ⋯ 0  0   1  21 0
25424 wolteto01 2016   1     COL    NL    71 205 27  53 15  ⋯ 4  1  21  53 2
25425 wongko01  2016   1     SLN    NL   121 313 39  75  7  ⋯ 7  0  34  52 2
25426 woodal02  2016   1     LAN    NL    15  16  2   4  0  ⋯ 0  0   1   9 0
25427 woodbl01  2016   1     CIN    NL    70   2  0   0  0  ⋯ 0  0   0   2 0
25428 woodtr01  2016   1     CHN    NL    81  11  0   2  0  ⋯ 0  0   1   5 0
25429 worleva01 2016   1     BAL    AL    35   0  0   0  0  ⋯ 0  0   0   0 0
25430 wrighda03 2016   1     NYN    NL    37 137 18  31  8  ⋯ 3  2  26  55 0
25431 wrighmi01 2016   1     BAL    AL    18   0  0   0  0  ⋯ 0  0   0   0 0
25432 wrighst01 2016   1     BOS    AL    25   4  0   0  0  ⋯ 0  0   0   3 0
25433 yateski01 2016   1     NYA    AL    41   0  0   0  0  ⋯ 0  0   0   0 0
25434 yelicch01 2016   1     MIA    NL   155 578 78 172 38  ⋯ 9  4  72 138 4
25435 youngch03 2016   1     KCA    AL    34   1  0   0  0  ⋯ 0  0   0   0 0
25436 youngch04 2016   1     BOS    AL    76 203 29  56 18  ⋯ 4  2  21  50 0
25437 zieglbr01 2016   1     ARI    NL    36   0  0   0  0  ⋯ 0  0   0   0 0
25438 zimmejo02 2016   1     DET    AL    19   4  0   1  0  ⋯ 0  0   0   2 0
25439 zimmery01 2016   1     WAS    NL   115 427 60  93 18  ⋯ 4  1  29 104 1
25440 zobribe01 2016   1     CHN    NL   147 523 94 142 31  ⋯ 6  4  96  82 6
25441 zychto01  2016   1     SEA    AL    12   0  0   0  0  ⋯ 0  0   0   0 0
      HBP SH SF GIDP salary
1      0   0  0  0    170000
2      0   0  0  0    147500
3      6   4  3  7    237000
4      0   0  0  0    875000
5      0   0  0  0    750000
6      1   4  3  6    255000
7      0   1  0  0    250500
8      0   7  0  2   1030000
9      2   0  5 14    915000
10     1   1  1  9    416667
11     0   0  0  0    107333
12     0   0  1  2    303333
13     1  14  3  3    200000
14     1   8  0  3    330000
15     1   0 10 23    675000
16     0   0  3 12    575000
17     5   0  5 14    205000
18     0   2  2  6    225000
19     0   1  0  1    350000
20     0   0  0  0    811250
21     4   0  3 14    325000
22     0   0  0  0    870000
23     2  12  4 14    272500
24     6   4  2 10    155000
25    24   1 10 10    810000
26     0   0  0  0    470000
27     0   0  0  0    358000
28     0   6  0  0    550000
29     0   1  2 10    751297
30     8   0  8  8    335000
⋮     ⋮   ⋮  ⋮  ⋮    ⋮
25412 4   0  1   8    1500000
25413 4   0  6  17   21733615
25414 2   0  2   6     507500
25415 0   0  0   0     524525
25416 5   1  3  10   15800000
25417 0   0  0   0    3100000
25418 0   1  0   0     509700
25419 0   0  0   0     522500
25420 0   0  0   0    1525000
25421 0   0  0   0     511500
25422 0   0  0   0     508500
25423 0   5  1   2     507500
25424 0   4  0   1     507500
25425 9   0  5   3    1250000
25426 0   2  0   0     530000
25427 0   0  0   0     600000
25428 0   0  0   0    6170000
25429 0   0  0   0    2600000
25430 0   0  0   0   19364801
25431 0   0  0   0     510500
25432 0   0  0   0     514500
25433 0   0  0   0     511900
25434 4   0  5  20    1000000
25435 0   0  0   0    4250000
25436 3   0  0   4    6500000
25437 0   0  0   0    5500000
25438 0   1  0   0   18000000
25439 5   0  6  12   14000000
25440 4   4  4  17   10500000
25441 0   0  0   0     511000

The resulting table has 25,441 rows (note that this is less than the number of rows in each of the original data frames). It has 23 columns — the 22 columns in `Batting` plus the one column in `Salaries` that does not also appear in `Batting`.

Notice that the function automatically joined the two data frames by the overlapping columns listed above — this is called a **natural join**. The four overlapping columns form a compound key.

Natural joins usually give us what we want, but they don't work well if

1. A column in **x** has the same name as a column in **y** but the two columns measure something different or
2. A column in **x** measures the same thing as a column in **y** but the two columns have different names. There's an example of case (1) in [Section 20.3.2](https://r4ds.hadley.nz/joins.html#specifying-join-keys) of this week's reading, and you saw an example of case (2) in Monday's lecture.

In this case, the natural join works well. To manually set the key (which is not necessary in this example), we can use the `by` argument:

In [ ]:
Batting %>%
    inner_join(Salaries, by = c("playerID", "yearID", "teamID", "lgID"))

      playerID  yearID stint teamID lgID G   AB  R  H   X2B ⋯ SB CS BB SO  IBB
1     ackerji01 1985   1     TOR    AL    61   0  0   0  0  ⋯  0  0  0   0 0
2     agostju01 1985   1     CHA    AL    54   0  0   0  0  ⋯  0  0  0   0 0
3     aguaylu01 1985   1     PHI    NL    91 165 27  46  7  ⋯  1  0 22  26 5
4     alexado01 1985   1     TOR    AL    36   0  0   0  0  ⋯  0  0  0   0 0
5     allenne01 1985   1     SLN    NL    23   2  0   0  0  ⋯  0  0  0   2 0
6     almonbi01 1985   1     PIT    NL    88 244 33  66 17  ⋯ 10  7 22  61 0
7     anderla02 1985   1     PHI    NL    57   4  1   0  0  ⋯  0  0  0   0 0
8     andujjo01 1985   1     SLN    NL    38  94  2  10  2  ⋯  3  1  5  50 0
9     armasto01 1985   1     BOS    AL   103 385 50 102 17  ⋯  0  0 18  90 4
10    ashbyal01 1985   1     HOU    NL    65 189 20  53  8  ⋯  0  0 24  27 2
11    atherke01 1985   1     OAK    AL    56   0  0   0  0  ⋯  0  0  0   0 0
12    ayalabe01 1985   1     CLE    AL    46  76 10  19  7  ⋯  0  0  4  17 1
13    backmwa01 1985   1     NYN    NL   145 520 77 142 24  ⋯ 30 12 36  72 1
14    bailobo01 1985   1     LAN    NL    74 118  8  29  3  ⋯  1  0  3   5 0
15    baineha01 1985   1     CHA    AL   160 640 86 198 29  ⋯  1  1 42  89 8
16    bakerdu01 1985   1     OAK    AL   111 343 48  92 15  ⋯  2  1 50  47 0
17    balbost01 1985   1     KCA    AL   160 600 74 146 28  ⋯  1  1 52 166 4
18    bandoch01 1985   1     CLE    AL    73 173 11  24  4  ⋯  0  1 22  21 0
19    bannial01 1985   1     TEX    AL    57 122 17  32  4  ⋯  8  2 14  17 0
20    bannifl01 1985   1     CHA    AL    34   0  0   0  0  ⋯  0  0  0   0 0
21    barfije01 1985   1     TOR    AL   155 539 94 156 34  ⋯ 22  8 66 143 5
22    barkele01 1985   1     ATL    NL    20  17  0   0  0  ⋯  0  1  0   7 0
23    barrema02 1985   1     BOS    AL   156 534 59 142 26  ⋯  7  5 56  50 3
24    basske01  1985   1     HOU    NL   150 539 72 145 27  ⋯ 19  8 31  63 1
25    baylodo01 1985   1     NYA    AL   142 477 70 110 24  ⋯  0  4 52  90 6
26    beattji01 1985   1     SEA    AL    18   0  0   0  0  ⋯  0  0  0   0 0
27    beckwjo01 1985   1     KCA    AL    49   0  0   0  0  ⋯  0  0  0   0 0
28    bedrost01 1985   1     ATL    NL    37  64  3   5  0  ⋯  0  0  1  22 0
29    bellbu01  1985   2     CIN    NL    67 247 28  54 15  ⋯  0  1 34  27 2
30    bellge02  1985   1     TOR    AL   157 607 87 167 28  ⋯ 21  6 43  90 6
⋮     ⋮         ⋮      ⋮     ⋮      ⋮    ⋮   ⋮   ⋮  ⋮   ⋮   ⋱ ⋮  ⋮  ⋮  ⋮   ⋮
25412 weeksri01 2016   1     ARI    NL   108 180 29  43  9  ⋯ 5  0  20  54 0
25413 werthja01 2016   1     WAS    NL   143 525 84 128 28  ⋯ 5  1  71 139 0
25414 whitety01 2016   1     HOU    AL    86 249 24  54 16  ⋯ 1  0  23  65 1
25415 whitlch01 2016   1     TBA    AL     5   0  0   0  0  ⋯ 0  0   0   0 0
25416 wietema01 2016   1     BAL    AL   124 423 48 103 17  ⋯ 1  0  32  85 1
25417 wilheto01 2016   1     TEX    AL    21   0  0   0  0  ⋯ 0  0   0   0 0
25418 willima07 2016   1     NYA    AL    12  27  4   8  1  ⋯ 0  0   1  12 0
25419 wilsoal01 2016   1     DET    AL    62   0  0   0  0  ⋯ 0  0   0   0 0
25420 wilsoju10 2016   1     DET    AL    66   0  0   0  0  ⋯ 0  0   0   0 0
25421 wilsoty01 2016   1     BAL    AL    24   0  0   0  0  ⋯ 0  0   0   0 0
25422 winklda01 2016   1     ATL    NL     3   0  0   0  0  ⋯ 0  0   0   0 0
25423 wislema01 2016   1     ATL    NL    29  46  2   7  0  ⋯ 0  0   1  21 0
25424 wolteto01 2016   1     COL    NL    71 205 27  53 15  ⋯ 4  1  21  53 2
25425 wongko01  2016   1     SLN    NL   121 313 39  75  7  ⋯ 7  0  34  52 2
25426 woodal02  2016   1     LAN    NL    15  16  2   4  0  ⋯ 0  0   1   9 0
25427 woodbl01  2016   1     CIN    NL    70   2  0   0  0  ⋯ 0  0   0   2 0
25428 woodtr01  2016   1     CHN    NL    81  11  0   2  0  ⋯ 0  0   1   5 0
25429 worleva01 2016   1     BAL    AL    35   0  0   0  0  ⋯ 0  0   0   0 0
25430 wrighda03 2016   1     NYN    NL    37 137 18  31  8  ⋯ 3  2  26  55 0
25431 wrighmi01 2016   1     BAL    AL    18   0  0   0  0  ⋯ 0  0   0   0 0
25432 wrighst01 2016   1     BOS    AL    25   4  0   0  0  ⋯ 0  0   0   3 0
25433 yateski01 2016   1     NYA    AL    41   0  0   0  0  ⋯ 0  0   0   0 0
25434 yelicch01 2016   1     MIA    NL   155 578 78 172 38  ⋯ 9  4  72 138 4
25435 youngch03 2016   1     KCA    AL    34   1  0   0  0  ⋯ 0  0   0   0 0
25436 youngch04 2016   1     BOS    AL    76 203 29  56 18  ⋯ 4  2  21  50 0
25437 zieglbr01 2016   1     ARI    NL    36   0  0   0  0  ⋯ 0  0   0   0 0
25438 zimmejo02 2016   1     DET    AL    19   4  0   1  0  ⋯ 0  0   0   2 0
25439 zimmery01 2016   1     WAS    NL   115 427 60  93 18  ⋯ 4  1  29 104 1
25440 zobribe01 2016   1     CHN    NL   147 523 94 142 31  ⋯ 6  4  96  82 6
25441 zychto01  2016   1     SEA    AL    12   0  0   0  0  ⋯ 0  0   0   0 0
      HBP SH SF GIDP salary
1      0   0  0  0    170000
2      0   0  0  0    147500
3      6   4  3  7    237000
4      0   0  0  0    875000
5      0   0  0  0    750000
6      1   4  3  6    255000
7      0   1  0  0    250500
8      0   7  0  2   1030000
9      2   0  5 14    915000
10     1   1  1  9    416667
11     0   0  0  0    107333
12     0   0  1  2    303333
13     1  14  3  3    200000
14     1   8  0  3    330000
15     1   0 10 23    675000
16     0   0  3 12    575000
17     5   0  5 14    205000
18     0   2  2  6    225000
19     0   1  0  1    350000
20     0   0  0  0    811250
21     4   0  3 14    325000
22     0   0  0  0    870000
23     2  12  4 14    272500
24     6   4  2 10    155000
25    24   1 10 10    810000
26     0   0  0  0    470000
27     0   0  0  0    358000
28     0   6  0  0    550000
29     0   1  2 10    751297
30     8   0  8  8    335000
⋮     ⋮   ⋮  ⋮  ⋮    ⋮
25412 4   0  1   8    1500000
25413 4   0  6  17   21733615
25414 2   0  2   6     507500
25415 0   0  0   0     524525
25416 5   1  3  10   15800000
25417 0   0  0   0    3100000
25418 0   1  0   0     509700
25419 0   0  0   0     522500
25420 0   0  0   0    1525000
25421 0   0  0   0     511500
25422 0   0  0   0     508500
25423 0   5  1   2     507500
25424 0   4  0   1     507500
25425 9   0  5   3    1250000
25426 0   2  0   0     530000
25427 0   0  0   0     600000
25428 0   0  0   0    6170000
25429 0   0  0   0    2600000
25430 0   0  0   0   19364801
25431 0   0  0   0     510500
25432 0   0  0   0     514500
25433 0   0  0   0     511900
25434 4   0  5  20    1000000
25435 0   0  0   0    4250000
25436 3   0  0   4    6500000
25437 0   0  0   0    5500000
25438 0   1  0   0   18000000
25439 5   0  6  12   14000000
25440 4   4  4  17   10500000
25441 0   0  0   0     511000

#### Mutating join #2: `left_join()`

**``left_join(x, y)``** preserves all rows in **x**, and it adds the columns of **y** to **x**.

If we do a left join of `Baseball` and `Salaries`, we get the following:

In [ ]:
Batting %>%
    left_join(Salaries)

# Equivalently:
# left_join(Batting, Salaries)

Joining with `by = join_by(playerID, yearID, teamID, lgID)`

       playerID  yearID stint teamID lgID G   AB  R  H   X2B ⋯ SB CS BB SO  IBB
1      abercda01 1871   1     TRO    NA    1    4  0  0   0  ⋯  0 0   0 0   NA
2      addybo01  1871   1     RC1    NA   25  118 30 32   6  ⋯  8 1   4 0   NA
3      allisar01 1871   1     CL1    NA   29  137 28 40   4  ⋯  3 1   2 5   NA
4      allisdo01 1871   1     WS3    NA   27  133 28 44  10  ⋯  1 1   0 2   NA
5      ansonca01 1871   1     RC1    NA   25  120 29 39  11  ⋯  6 2   2 1   NA
6      armstbo01 1871   1     FW1    NA   12   49  9 11   2  ⋯  0 1   0 1   NA
7      barkeal01 1871   1     RC1    NA    1    4  0  1   0  ⋯  0 0   1 0   NA
8      barnero01 1871   1     BS1    NA   31  157 66 63  10  ⋯ 11 6  13 1   NA
9      barrebi01 1871   1     FW1    NA    1    5  1  1   1  ⋯  0 0   0 0   NA
10     barrofr01 1871   1     BS1    NA   18   86 13 13   2  ⋯  1 0   0 0   NA
11     bassjo01  1871   1     CL1    NA   22   89 18 27   1  ⋯  0 1   3 4   NA
12     battijo01 1871   1     CL1    NA    1    3  0  0   0  ⋯  0 0   1 0   NA
13     bealsto01 1871   1     WS3    NA   10   36  6  7   0  ⋯  2 0   2 0   NA
14     beaveed01 1871   1     TRO    NA    3   15  7  6   0  ⋯  2 0   0 0   NA
15     bechtge01 1871   1     PH1    NA   20   94 24 33   9  ⋯  4 0   2 2   NA
16     bellast01 1871   1     TRO    NA   29  128 26 32   3  ⋯  4 4   9 2   NA
17     berkena01 1871   1     PH1    NA    1    4  0  0   0  ⋯  0 0   0 3   NA
18     berryto01 1871   1     PH1    NA    1    4  0  1   0  ⋯  0 0   0 0   NA
19     berthha01 1871   1     WS3    NA   17   73 17 17   1  ⋯  3 1   4 2   NA
20     biermch01 1871   1     FW1    NA    1    2  0  0   0  ⋯  0 0   1 0   NA
21     birdge01  1871   1     RC1    NA   25  106 19 28   2  ⋯  1 0   3 2   NA
22     birdsda01 1871   1     BS1    NA   29  152 51 46   3  ⋯  6 0   4 4   NA
23     brainas01 1871   1     WS3    NA   30  134 24 30   4  ⋯  4 0   7 2   NA
24     brannmi01 1871   1     CH1    NA    3   14  2  1   0  ⋯  0 0   0 0   NA
25     burrohe01 1871   1     WS3    NA   12   63 11 15   2  ⋯  0 0   1 1   NA
26     careyto01 1871   1     FW1    NA   19   87 16 20   2  ⋯  5 0   2 1   NA
27     carleji01 1871   1     CL1    NA   29  127 31 32   8  ⋯  2 1   8 3   NA
28     conefr01  1871   1     BS1    NA   19   77 17 20   3  ⋯ 12 1   8 2   NA
29     connone01 1871   1     TRO    NA    7   33  6  7   0  ⋯  0 0   0 0   NA
30     cravebi01 1871   1     TRO    NA   27  118 26 38   8  ⋯  6 3   3 0   NA
⋮      ⋮         ⋮      ⋮     ⋮      ⋮    ⋮   ⋮   ⋮  ⋮   ⋮   ⋱ ⋮  ⋮  ⋮  ⋮   ⋮
112155 woodrbr01 2022   1     MIL    NL    27   0  0   0  0  ⋯  0 0   0   0 0
112156 woodssi01 2022   1     MIN    AL     1   0  0   0  0  ⋯  0 0   0   0 0
112157 woodswi01 2022   1     ATL    NL     2   0  0   0  0  ⋯  0 0   0   0 0
112158 wrighky01 2022   1     ATL    NL    30   0  0   0  0  ⋯  0 0   0   0 0
112159 wynnsau01 2022   1     SFN    NL    66 162 14  42  7  ⋯  0 0  10  38 0
112160 yacabji01 2022   1     MIA    NL     9   0  0   0  0  ⋯  0 0   0   0 0
112161 yacabji01 2022   2     TBA    AL     5   0  0   0  0  ⋯  0 0   0   0 0
112162 yajurmi01 2022   1     PIT    NL    12   0  0   0  0  ⋯  0 0   0   0 0
112163 yarbrry01 2022   1     TBA    AL    20   0  0   0  0  ⋯  0 0   0   0 0
112164 yastrmi01 2022   1     SFN    NL   148 485 73 104 31  ⋯  5 1  61 141 0
112165 yateski01 2022   1     ATL    NL     9   0  0   0  0  ⋯  0 0   0   0 0
112166 yelicch01 2022   1     MIL    NL   154 575 99 145 25  ⋯ 19 3  88 162 5
112167 yepezju01 2022   1     SLN    NL    76 253 27  64 13  ⋯  0 0  16  61 0
112168 ynoahu01  2022   1     ATL    NL     2   0  0   0  0  ⋯  0 0   0   0 0
112169 youngal01 2022   1     CLE    AL     1   0  0   0  0  ⋯  0 0   0   0 0
112170 youngal01 2022   2     SFN    NL    24   0  0   0  0  ⋯  0 0   0   0 0
112171 youngda02 2022   1     SEA    AL     2   0  0   0  0  ⋯  0 0   0   0 0
112172 youngda02 2022   2     ATL    NL     1   0  0   0  0  ⋯  0 0   0   0 0
112173 youngja02 2022   1     CHN    NL     6  19  2   5  2  ⋯  1 0   3   7 0
112174 zabalan01 2022   1     MIA    NL     2   0  0   0  0  ⋯  0 0   0   0 0
112175 zastrro01 2022   1     NYN    NL     1   0  0   0  0  ⋯  0 0   0   0 0
112176 zastrro01 2022   2     LAA    AL     5   0  0   0  0  ⋯  0 0   0   0 0
112177 zavalse01 2022   1     CHA    AL    61 178 22  48 14  ⋯  0 0  19  64 0
112178 zerpaan01 2022   1     KCA    AL     3   0  0   0  0  ⋯  0 0   0   0 0
112179 zeuchtj01 2022   1     CIN    NL     3   0  0   0  0  ⋯  0 0   0   0 0
112180 zimmebr01 2022   1     TOR    AL    77  76 11   8  4  ⋯  2 1   5  33 0
112181 zimmebr01 2022   2     PHI    NL     9  16  4   4  1  ⋯  0 0   0   4 0
112182 zimmebr01 2022   3     TOR    AL    23  13  3   1  0  ⋯  1 1   0   8 0
112183 zimmebr02 2022   1     BAL    AL    15   0  0   0  0  ⋯  0 0   0   0 0
112184 zuninmi01 2022   1     TBA    AL    36 115  7  17  3  ⋯  0 0   6  46 0
       HBP SH SF GIDP salary
1      NA  NA NA 0    NA
2      NA  NA NA 0    NA
3      NA  NA NA 1    NA
4      NA  NA NA 0    NA
5      NA  NA NA 0    NA
6      NA  NA NA 0    NA
7      NA  NA NA 0    NA
8      NA  NA NA 1    NA
9      NA  NA NA 0    NA
10     NA  NA NA 0    NA
11     NA  NA NA 0    NA
12     NA  NA NA 0    NA
13     NA  NA NA 2    NA
14     NA  NA NA 0    NA
15     NA  NA NA 1    NA
16     NA  NA NA 2    NA
17     NA  NA NA 0    NA
18     NA  NA NA 0    NA
19     NA  NA NA 0    NA
20     NA  NA NA 0    NA
21     NA  NA NA 3    NA
22     NA  NA NA 1    NA
23     NA  NA NA 1    NA
24     NA  NA NA 0    NA
25     NA  NA NA 0    NA
26     NA  NA NA 0    NA
27     NA  NA NA 3    NA
28     NA  NA NA 1    NA
29     NA  NA NA 0    NA
30     NA  NA NA 3    NA
⋮      ⋮   ⋮  ⋮  ⋮    ⋮
112155 0   0  0  0    NA
112156 0   0  0  0    NA
112157 0   0  0  0    NA
112158 0   0  0  0    NA
112159 3   1  1  9    NA
112160 0   0  0  0    NA
112161 0   0  0  0    NA
112162 0   0  0  0    NA
112163 0   0  0  0    NA
112164 5   1  6  3    NA
112165 0   0  0  0    NA
112166 5   1  2  9    NA
112167 1   0  4  6    NA
112168 0   0  0  0    NA
112169 0   0  0  0    NA
112170 0   0  0  0    NA
112171 0   0  0  0    NA
112172 0   0  0  0    NA
112173 0   0  0  0    NA
112174 0   0  0  0    NA
112175 0   0  0  0    NA
112176 0   0  0  0    NA
112177 3   3  2  1    NA
112178 0   0  0  0    NA
112179 0   0  0  0    NA
112180 5   1  0  0    NA
112181 0   0  0  0    NA
112182 1   0  0  0    NA
112183 0   0  0  0    NA
112184 1   0  1  2    NA

The resulting table has 112,184 rows, which is the same number of rows as `Batting`. This makes sense, as left joins preserve all the rows in the left-hand data frame.

It also has 23 columns, just like the `inner_join()` table above. This also makes sense — we should get the same number of columns for all of these mutating joins since we are just adding the (unique) columns of `Salaries` to `Batting`.

Notice that there are a lot of `NA`s in the salary column. This is because the `Batting` table records data from 1871-2022, but according to the [Lahman documentation](https://cran.r-project.org/web/packages/Lahman/Lahman.pdf), `Salaries` only records data from 1985-2016:

In [ ]:
Batting %>%
  distinct(yearID) %>%
  pull(yearID)

  [1] 1871 1872 1873 1874 1875 1876 1877 1878 1879 1880 1881 1882 1883 1884 1885
 [16] 1886 1887 1888 1889 1890 1891 1892 1893 1894 1895 1896 1897 1898 1899 1900
 [31] 1901 1902 1903 1904 1905 1906 1907 1908 1909 1910 1911 1912 1913 1914 1915
 [46] 1916 1917 1918 1919 1920 1921 1922 1923 1924 1925 1926 1927 1928 1929 1930
 [61] 1931 1932 1933 1934 1935 1936 1937 1938 1939 1940 1941 1942 1943 1944 1945
 [76] 1946 1947 1948 1949 1950 1951 1952 1953 1954 1955 1956 1957 1958 1959 1960
 [91] 1961 1962 1963 1964 1965 1966 1967 1968 1969 1970 1971 1972 1973 1974 1975
[106] 1976 1977 1978 1979 1980 1981 1982 1983 1984 1985 1986 1987 1988 1989 1990
[121] 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003 2004 2005
[136] 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015 2016 2017 2018 2019 2020
[151] 2021 2022

In [ ]:
Salaries %>%
  distinct(yearID) %>%
  pull(yearID)

 [1] 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999
[16] 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014
[31] 2015 2016

In [ ]:
Batting %>%
    left_join(Salaries) %>%
    group_by(yearID) %>%
    summarize(prop_NA = mean(is.na(salary))) %>%
    filter(prop_NA < 1) %>%
    pull(yearID) # List of years where at least some salaries were recorded

Joining with `by = join_by(playerID, yearID, teamID, lgID)`

 [1] 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999
[16] 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014
[31] 2015 2016

#### Mutating join #3: `right_join()`

**``right_join(x, y)``** preserves all rows in **y**, and it adds the columns of **y** to **x**.

Here's what a right join looks like for `Batting` and `Salaries`:

In [ ]:
Batting %>%
    right_join(Salaries)

# Equivalently:
# right_join(Batting, Salaries)

# # Also equivalent:
# left_join(Salaries, Batting)

Joining with `by = join_by(playerID, yearID, teamID, lgID)`

      playerID  yearID stint teamID lgID G   AB  R  H   X2B ⋯ SB CS BB SO  IBB
1     ackerji01 1985   1     TOR    AL    61   0  0   0  0  ⋯  0  0  0   0 0
2     agostju01 1985   1     CHA    AL    54   0  0   0  0  ⋯  0  0  0   0 0
3     aguaylu01 1985   1     PHI    NL    91 165 27  46  7  ⋯  1  0 22  26 5
4     alexado01 1985   1     TOR    AL    36   0  0   0  0  ⋯  0  0  0   0 0
5     allenne01 1985   1     SLN    NL    23   2  0   0  0  ⋯  0  0  0   2 0
6     almonbi01 1985   1     PIT    NL    88 244 33  66 17  ⋯ 10  7 22  61 0
7     anderla02 1985   1     PHI    NL    57   4  1   0  0  ⋯  0  0  0   0 0
8     andujjo01 1985   1     SLN    NL    38  94  2  10  2  ⋯  3  1  5  50 0
9     armasto01 1985   1     BOS    AL   103 385 50 102 17  ⋯  0  0 18  90 4
10    ashbyal01 1985   1     HOU    NL    65 189 20  53  8  ⋯  0  0 24  27 2
11    atherke01 1985   1     OAK    AL    56   0  0   0  0  ⋯  0  0  0   0 0
12    ayalabe01 1985   1     CLE    AL    46  76 10  19  7  ⋯  0  0  4  17 1
13    backmwa01 1985   1     NYN    NL   145 520 77 142 24  ⋯ 30 12 36  72 1
14    bailobo01 1985   1     LAN    NL    74 118  8  29  3  ⋯  1  0  3   5 0
15    baineha01 1985   1     CHA    AL   160 640 86 198 29  ⋯  1  1 42  89 8
16    bakerdu01 1985   1     OAK    AL   111 343 48  92 15  ⋯  2  1 50  47 0
17    balbost01 1985   1     KCA    AL   160 600 74 146 28  ⋯  1  1 52 166 4
18    bandoch01 1985   1     CLE    AL    73 173 11  24  4  ⋯  0  1 22  21 0
19    bannial01 1985   1     TEX    AL    57 122 17  32  4  ⋯  8  2 14  17 0
20    bannifl01 1985   1     CHA    AL    34   0  0   0  0  ⋯  0  0  0   0 0
21    barfije01 1985   1     TOR    AL   155 539 94 156 34  ⋯ 22  8 66 143 5
22    barkele01 1985   1     ATL    NL    20  17  0   0  0  ⋯  0  1  0   7 0
23    barrema02 1985   1     BOS    AL   156 534 59 142 26  ⋯  7  5 56  50 3
24    basske01  1985   1     HOU    NL   150 539 72 145 27  ⋯ 19  8 31  63 1
25    baylodo01 1985   1     NYA    AL   142 477 70 110 24  ⋯  0  4 52  90 6
26    beattji01 1985   1     SEA    AL    18   0  0   0  0  ⋯  0  0  0   0 0
27    beckwjo01 1985   1     KCA    AL    49   0  0   0  0  ⋯  0  0  0   0 0
28    bedrost01 1985   1     ATL    NL    37  64  3   5  0  ⋯  0  0  1  22 0
29    bellbu01  1985   2     CIN    NL    67 247 28  54 15  ⋯  0  1 34  27 2
30    bellge02  1985   1     TOR    AL   157 607 87 167 28  ⋯ 21  6 43  90 6
⋮     ⋮         ⋮      ⋮     ⋮      ⋮    ⋮   ⋮   ⋮  ⋮   ⋮   ⋱ ⋮  ⋮  ⋮  ⋮   ⋮
26408 wilsocj01 2016   NA    LAA    AL   NA  NA  NA NA  NA  ⋯ NA NA NA NA  NA
26409 guerral01 2016   NA    LAN    NL   NA  NA  NA NA  NA  ⋯ NA NA NA NA  NA
26410 montafr01 2016   NA    LAN    NL   NA  NA  NA NA  NA  ⋯ NA NA NA NA  NA
26411 cappsca01 2016   NA    MIA    NL   NA  NA  NA NA  NA  ⋯ NA NA NA NA  NA
26412 lazora01  2016   NA    MIA    NL   NA  NA  NA NA  NA  ⋯ NA NA NA NA  NA
26413 barriyh01 2016   NA    MIL    NL   NA  NA  NA NA  NA  ⋯ NA NA NA NA  NA
26414 liriary01 2016   NA    MIL    NL   NA  NA  NA NA  NA  ⋯ NA NA NA NA  NA
26415 nolinse01 2016   NA    MIL    NL   NA  NA  NA NA  NA  ⋯ NA NA NA NA  NA
26416 matzety01 2016   NA    MIN    AL   NA  NA  NA NA  NA  ⋯ NA NA NA NA  NA
26417 wheelza01 2016   NA    NYN    NL   NA  NA  NA NA  NA  ⋯ NA NA NA NA  NA
26418 birdgr01  2016   NA    NYA    AL   NA  NA  NA NA  NA  ⋯ NA NA NA NA  NA
26419 alvarhe01 2016   NA    OAK    AL   NA  NA  NA NA  NA  ⋯ NA NA NA NA  NA
26420 alvarrj01 2016   NA    OAK    AL   NA  NA  NA NA  NA  ⋯ NA NA NA NA  NA
26421 doubrfe01 2016   NA    OAK    AL   NA  NA  NA NA  NA  ⋯ NA NA NA NA  NA
26422 fuldsa01  2016   NA    OAK    AL   NA  NA  NA NA  NA  ⋯ NA NA NA NA  NA
26423 parkeja02 2016   NA    OAK    AL   NA  NA  NA NA  NA  ⋯ NA NA NA NA  NA
26424 sogarer01 2016   NA    OAK    AL   NA  NA  NA NA  NA  ⋯ NA NA NA NA  NA
26425 harrima01 2016   NA    PHI    NL   NA  NA  NA NA  NA  ⋯ NA NA NA NA  NA
26426 hollama01 2016   NA    PHI    NL   NA  NA  NA NA  NA  ⋯ NA NA NA NA  NA
26427 margoma01 2016   NA    PHI    NL   NA  NA  NA NA  NA  ⋯ NA NA NA NA  NA
26428 edwarjo02 2016   NA    SDN    NL   NA  NA  NA NA  NA  ⋯ NA NA NA NA  NA
26429 cookry01  2016   NA    SEA    AL   NA  NA  NA NA  NA  ⋯ NA NA NA NA  NA
26430 furbuch01 2016   NA    SEA    AL   NA  NA  NA NA  NA  ⋯ NA NA NA NA  NA
26431 duffyma02 2016   NA    SFN    NL   NA  NA  NA NA  NA  ⋯ NA NA NA NA  NA
26432 harrimi03 2016   NA    SLN    NL   NA  NA  NA NA  NA  ⋯ NA NA NA NA  NA
26433 lynnla01  2016   NA    SLN    NL   NA  NA  NA NA  NA  ⋯ NA NA NA NA  NA
26434 waldejo01 2016   NA    SLN    NL   NA  NA  NA NA  NA  ⋯ NA NA NA NA  NA
26435 gimench01 2016   NA    TEX    AL   NA  NA  NA NA  NA  ⋯ NA NA NA NA  NA
26436 hamiljo03 2016   NA    TEX    AL   NA  NA  NA NA  NA  ⋯ NA NA NA NA  NA
26437 barreaa01 2016   NA    WAS    NL   NA  NA  NA NA  NA  ⋯ NA NA NA NA  NA
      HBP SH SF GIDP salary
1      0   0  0  0    170000
2      0   0  0  0    147500
3      6   4  3  7    237000
4      0   0  0  0    875000
5      0   0  0  0    750000
6      1   4  3  6    255000
7      0   1  0  0    250500
8      0   7  0  2   1030000
9      2   0  5 14    915000
10     1   1  1  9    416667
11     0   0  0  0    107333
12     0   0  1  2    303333
13     1  14  3  3    200000
14     1   8  0  3    330000
15     1   0 10 23    675000
16     0   0  3 12    575000
17     5   0  5 14    205000
18     0   2  2  6    225000
19     0   1  0  1    350000
20     0   0  0  0    811250
21     4   0  3 14    325000
22     0   0  0  0    870000
23     2  12  4 14    272500
24     6   4  2 10    155000
25    24   1 10 10    810000
26     0   0  0  0    470000
27     0   0  0  0    358000
28     0   6  0  0    550000
29     0   1  2 10    751297
30     8   0  8  8    335000
⋮     ⋮   ⋮  ⋮  ⋮    ⋮
26408 NA  NA NA NA   20500000
26409 NA  NA NA NA    7500000
26410 NA  NA NA NA     510000
26411 NA  NA NA NA     987500
26412 NA  NA NA NA     508500
26413 NA  NA NA NA     509200
26414 NA  NA NA NA     508500
26415 NA  NA NA NA     509700
26416 NA  NA NA NA     545000
26417 NA  NA NA NA     546250
26418 NA  NA NA NA     525300
26419 NA  NA NA NA    4250000
26420 NA  NA NA NA     510000
26421 NA  NA NA NA    2000000
26422 NA  NA NA NA    1925000
26423 NA  NA NA NA     850000
26424 NA  NA NA NA    1500000
26425 NA  NA NA NA   13000000
26426 NA  NA NA NA     512500
26427 NA  NA NA NA     512500
26428 NA  NA NA NA     509600
26429 NA  NA NA NA    1100000
26430 NA  NA NA NA    1600000
26431 NA  NA NA NA     537500
26432 NA  NA NA NA     509000
26433 NA  NA NA NA    7500000
26434 NA  NA NA NA    3675000
26435 NA  NA NA NA     975000
26436 NA  NA NA NA   24000000
26437 NA  NA NA NA     519400

In [ ]:
Batting %>%
    right_join(Salaries) %>%
    count(playerID, yearID, teamID, lgID, sort = TRUE) %>%
    head(5)

Joining with `by = join_by(playerID, yearID, teamID, lgID)`

  playerID  yearID teamID lgID n
1 clarkje02 2003   TEX    AL   2
2 duceyro01 2000   PHI    NL   2
3 holmeda01 2000   ARI    NL   2
4 lukema01  1998   LAN    NL   2
5 mantoje01 1996   BOS    AL   2

The resulting data frame has 26,437 rows, which is almost the same number of rows as `Salaries`. And once again, it has 23 columns.

This time, we see a lot of missing batting statistics toward the bottom of the table. This is because `Salaries` records data for both batters and pitchers, but `Batting` only records data for batters.

#### Mutating join #4: `full_join()`

**``full_join(x, y)``** preserves all rows in **x** and **y**, and it adds the columns of **y** to **x**.

In [ ]:
Batting %>%
    full_join(Salaries)

# Equivalently:
# full_join(Batting, Salaries)

Joining with `by = join_by(playerID, yearID, teamID, lgID)`

       playerID  yearID stint teamID lgID G  AB  R  H  X2B ⋯ SB CS BB SO IBB
1      abercda01 1871   1     TRO    NA    1   4  0  0  0  ⋯  0 0   0 0  NA
2      addybo01  1871   1     RC1    NA   25 118 30 32  6  ⋯  8 1   4 0  NA
3      allisar01 1871   1     CL1    NA   29 137 28 40  4  ⋯  3 1   2 5  NA
4      allisdo01 1871   1     WS3    NA   27 133 28 44 10  ⋯  1 1   0 2  NA
5      ansonca01 1871   1     RC1    NA   25 120 29 39 11  ⋯  6 2   2 1  NA
6      armstbo01 1871   1     FW1    NA   12  49  9 11  2  ⋯  0 1   0 1  NA
7      barkeal01 1871   1     RC1    NA    1   4  0  1  0  ⋯  0 0   1 0  NA
8      barnero01 1871   1     BS1    NA   31 157 66 63 10  ⋯ 11 6  13 1  NA
9      barrebi01 1871   1     FW1    NA    1   5  1  1  1  ⋯  0 0   0 0  NA
10     barrofr01 1871   1     BS1    NA   18  86 13 13  2  ⋯  1 0   0 0  NA
11     bassjo01  1871   1     CL1    NA   22  89 18 27  1  ⋯  0 1   3 4  NA
12     battijo01 1871   1     CL1    NA    1   3  0  0  0  ⋯  0 0   1 0  NA
13     bealsto01 1871   1     WS3    NA   10  36  6  7  0  ⋯  2 0   2 0  NA
14     beaveed01 1871   1     TRO    NA    3  15  7  6  0  ⋯  2 0   0 0  NA
15     bechtge01 1871   1     PH1    NA   20  94 24 33  9  ⋯  4 0   2 2  NA
16     bellast01 1871   1     TRO    NA   29 128 26 32  3  ⋯  4 4   9 2  NA
17     berkena01 1871   1     PH1    NA    1   4  0  0  0  ⋯  0 0   0 3  NA
18     berryto01 1871   1     PH1    NA    1   4  0  1  0  ⋯  0 0   0 0  NA
19     berthha01 1871   1     WS3    NA   17  73 17 17  1  ⋯  3 1   4 2  NA
20     biermch01 1871   1     FW1    NA    1   2  0  0  0  ⋯  0 0   1 0  NA
21     birdge01  1871   1     RC1    NA   25 106 19 28  2  ⋯  1 0   3 2  NA
22     birdsda01 1871   1     BS1    NA   29 152 51 46  3  ⋯  6 0   4 4  NA
23     brainas01 1871   1     WS3    NA   30 134 24 30  4  ⋯  4 0   7 2  NA
24     brannmi01 1871   1     CH1    NA    3  14  2  1  0  ⋯  0 0   0 0  NA
25     burrohe01 1871   1     WS3    NA   12  63 11 15  2  ⋯  0 0   1 1  NA
26     careyto01 1871   1     FW1    NA   19  87 16 20  2  ⋯  5 0   2 1  NA
27     carleji01 1871   1     CL1    NA   29 127 31 32  8  ⋯  2 1   8 3  NA
28     conefr01  1871   1     BS1    NA   19  77 17 20  3  ⋯ 12 1   8 2  NA
29     connone01 1871   1     TRO    NA    7  33  6  7  0  ⋯  0 0   0 0  NA
30     cravebi01 1871   1     TRO    NA   27 118 26 38  8  ⋯  6 3   3 0  NA
⋮      ⋮         ⋮      ⋮     ⋮      ⋮    ⋮  ⋮   ⋮  ⋮  ⋮   ⋱ ⋮  ⋮  ⋮  ⋮  ⋮
113151 wilsocj01 2016   NA    LAA    AL   NA NA  NA NA NA  ⋯ NA NA NA NA NA
113152 guerral01 2016   NA    LAN    NL   NA NA  NA NA NA  ⋯ NA NA NA NA NA
113153 montafr01 2016   NA    LAN    NL   NA NA  NA NA NA  ⋯ NA NA NA NA NA
113154 cappsca01 2016   NA    MIA    NL   NA NA  NA NA NA  ⋯ NA NA NA NA NA
113155 lazora01  2016   NA    MIA    NL   NA NA  NA NA NA  ⋯ NA NA NA NA NA
113156 barriyh01 2016   NA    MIL    NL   NA NA  NA NA NA  ⋯ NA NA NA NA NA
113157 liriary01 2016   NA    MIL    NL   NA NA  NA NA NA  ⋯ NA NA NA NA NA
113158 nolinse01 2016   NA    MIL    NL   NA NA  NA NA NA  ⋯ NA NA NA NA NA
113159 matzety01 2016   NA    MIN    AL   NA NA  NA NA NA  ⋯ NA NA NA NA NA
113160 wheelza01 2016   NA    NYN    NL   NA NA  NA NA NA  ⋯ NA NA NA NA NA
113161 birdgr01  2016   NA    NYA    AL   NA NA  NA NA NA  ⋯ NA NA NA NA NA
113162 alvarhe01 2016   NA    OAK    AL   NA NA  NA NA NA  ⋯ NA NA NA NA NA
113163 alvarrj01 2016   NA    OAK    AL   NA NA  NA NA NA  ⋯ NA NA NA NA NA
113164 doubrfe01 2016   NA    OAK    AL   NA NA  NA NA NA  ⋯ NA NA NA NA NA
113165 fuldsa01  2016   NA    OAK    AL   NA NA  NA NA NA  ⋯ NA NA NA NA NA
113166 parkeja02 2016   NA    OAK    AL   NA NA  NA NA NA  ⋯ NA NA NA NA NA
113167 sogarer01 2016   NA    OAK    AL   NA NA  NA NA NA  ⋯ NA NA NA NA NA
113168 harrima01 2016   NA    PHI    NL   NA NA  NA NA NA  ⋯ NA NA NA NA NA
113169 hollama01 2016   NA    PHI    NL   NA NA  NA NA NA  ⋯ NA NA NA NA NA
113170 margoma01 2016   NA    PHI    NL   NA NA  NA NA NA  ⋯ NA NA NA NA NA
113171 edwarjo02 2016   NA    SDN    NL   NA NA  NA NA NA  ⋯ NA NA NA NA NA
113172 cookry01  2016   NA    SEA    AL   NA NA  NA NA NA  ⋯ NA NA NA NA NA
113173 furbuch01 2016   NA    SEA    AL   NA NA  NA NA NA  ⋯ NA NA NA NA NA
113174 duffyma02 2016   NA    SFN    NL   NA NA  NA NA NA  ⋯ NA NA NA NA NA
113175 harrimi03 2016   NA    SLN    NL   NA NA  NA NA NA  ⋯ NA NA NA NA NA
113176 lynnla01  2016   NA    SLN    NL   NA NA  NA NA NA  ⋯ NA NA NA NA NA
113177 waldejo01 2016   NA    SLN    NL   NA NA  NA NA NA  ⋯ NA NA NA NA NA
113178 gimench01 2016   NA    TEX    AL   NA NA  NA NA NA  ⋯ NA NA NA NA NA
113179 hamiljo03 2016   NA    TEX    AL   NA NA  NA NA NA  ⋯ NA NA NA NA NA
113180 barreaa01 2016   NA    WAS    NL   NA NA  NA NA NA  ⋯ NA NA NA NA NA
       HBP SH SF GIDP salary
1      NA  NA NA 0    NA
2      NA  NA NA 0    NA
3      NA  NA NA 1    NA
4      NA  NA NA 0    NA
5      NA  NA NA 0    NA
6      NA  NA NA 0    NA
7      NA  NA NA 0    NA
8      NA  NA NA 1    NA
9      NA  NA NA 0    NA
10     NA  NA NA 0    NA
11     NA  NA NA 0    NA
12     NA  NA NA 0    NA
13     NA  NA NA 2    NA
14     NA  NA NA 0    NA
15     NA  NA NA 1    NA
16     NA  NA NA 2    NA
17     NA  NA NA 0    NA
18     NA  NA NA 0    NA
19     NA  NA NA 0    NA
20     NA  NA NA 0    NA
21     NA  NA NA 3    NA
22     NA  NA NA 1    NA
23     NA  NA NA 1    NA
24     NA  NA NA 0    NA
25     NA  NA NA 0    NA
26     NA  NA NA 0    NA
27     NA  NA NA 3    NA
28     NA  NA NA 1    NA
29     NA  NA NA 0    NA
30     NA  NA NA 3    NA
⋮      ⋮   ⋮  ⋮  ⋮    ⋮
113151 NA  NA NA NA   20500000
113152 NA  NA NA NA    7500000
113153 NA  NA NA NA     510000
113154 NA  NA NA NA     987500
113155 NA  NA NA NA     508500
113156 NA  NA NA NA     509200
113157 NA  NA NA NA     508500
113158 NA  NA NA NA     509700
113159 NA  NA NA NA     545000
113160 NA  NA NA NA     546250
113161 NA  NA NA NA     525300
113162 NA  NA NA NA    4250000
113163 NA  NA NA NA     510000
113164 NA  NA NA NA    2000000
113165 NA  NA NA NA    1925000
113166 NA  NA NA NA     850000
113167 NA  NA NA NA    1500000
113168 NA  NA NA NA   13000000
113169 NA  NA NA NA     512500
113170 NA  NA NA NA     512500
113171 NA  NA NA NA     509600
113172 NA  NA NA NA    1100000
113173 NA  NA NA NA    1600000
113174 NA  NA NA NA     537500
113175 NA  NA NA NA     509000
113176 NA  NA NA NA    7500000
113177 NA  NA NA NA    3675000
113178 NA  NA NA NA     975000
113179 NA  NA NA NA   24000000
113180 NA  NA NA NA     519400

The resulting table has 23 columns and 113,180 rows, which is more than the number of rows in either of the original data frames. More specifically, 113,180 is equal to the following:

In [ ]:
26437 +       # Number of rows in right_join
  112184 -  # Number of rows in left_join
  25441     # Number of rows in inner_join

[1] 113180

### Filtering joins

The second category of joins are **filtering joins**, which $\underline{\text{filter rows}}$ in one data frame based on whether or not they match a row in another data frame. There are two types of filtering joins: (1) semi and (2) anti.

#### Filtering join #1: `semi_join()`

**``semi_join(x, y)``** preserves all rows in **x** that have a matching key in **y**. It's kind of like an inner join except it doesn't add any of the columns from **y**.

For example, here's a semi-join for `Batting` and `Salaries`:

In [ ]:
Batting %>%
    semi_join(Salaries)

# Equivalently:
# semi_join(Batting, Salaries)

Joining with `by = join_by(playerID, yearID, teamID, lgID)`

      playerID  yearID stint teamID lgID G   AB  R  H   X2B ⋯ RBI SB CS BB SO
1     ackerji01 1985   1     TOR    AL    61   0  0   0  0  ⋯   0  0  0  0   0
2     agostju01 1985   1     CHA    AL    54   0  0   0  0  ⋯   0  0  0  0   0
3     aguaylu01 1985   1     PHI    NL    91 165 27  46  7  ⋯  21  1  0 22  26
4     alexado01 1985   1     TOR    AL    36   0  0   0  0  ⋯   0  0  0  0   0
5     allenne01 1985   1     SLN    NL    23   2  0   0  0  ⋯   0  0  0  0   2
6     almonbi01 1985   1     PIT    NL    88 244 33  66 17  ⋯  29 10  7 22  61
7     anderla02 1985   1     PHI    NL    57   4  1   0  0  ⋯   0  0  0  0   0
8     andujjo01 1985   1     SLN    NL    38  94  2  10  2  ⋯   8  3  1  5  50
9     armasto01 1985   1     BOS    AL   103 385 50 102 17  ⋯  64  0  0 18  90
10    ashbyal01 1985   1     HOU    NL    65 189 20  53  8  ⋯  25  0  0 24  27
11    atherke01 1985   1     OAK    AL    56   0  0   0  0  ⋯   0  0  0  0   0
12    ayalabe01 1985   1     CLE    AL    46  76 10  19  7  ⋯  15  0  0  4  17
13    backmwa01 1985   1     NYN    NL   145 520 77 142 24  ⋯  38 30 12 36  72
14    bailobo01 1985   1     LAN    NL    74 118  8  29  3  ⋯   7  1  0  3   5
15    baineha01 1985   1     CHA    AL   160 640 86 198 29  ⋯ 113  1  1 42  89
16    bakerdu01 1985   1     OAK    AL   111 343 48  92 15  ⋯  52  2  1 50  47
17    balbost01 1985   1     KCA    AL   160 600 74 146 28  ⋯  88  1  1 52 166
18    bandoch01 1985   1     CLE    AL    73 173 11  24  4  ⋯  13  0  1 22  21
19    bannial01 1985   1     TEX    AL    57 122 17  32  4  ⋯   6  8  2 14  17
20    bannifl01 1985   1     CHA    AL    34   0  0   0  0  ⋯   0  0  0  0   0
21    barfije01 1985   1     TOR    AL   155 539 94 156 34  ⋯  84 22  8 66 143
22    barkele01 1985   1     ATL    NL    20  17  0   0  0  ⋯   0  0  1  0   7
23    barrema02 1985   1     BOS    AL   156 534 59 142 26  ⋯  56  7  5 56  50
24    basske01  1985   1     HOU    NL   150 539 72 145 27  ⋯  68 19  8 31  63
25    baylodo01 1985   1     NYA    AL   142 477 70 110 24  ⋯  91  0  4 52  90
26    beattji01 1985   1     SEA    AL    18   0  0   0  0  ⋯   0  0  0  0   0
27    beckwjo01 1985   1     KCA    AL    49   0  0   0  0  ⋯   0  0  0  0   0
28    bedrost01 1985   1     ATL    NL    37  64  3   5  0  ⋯   1  0  0  1  22
29    bellbu01  1985   2     CIN    NL    67 247 28  54 15  ⋯  36  0  1 34  27
30    bellge02  1985   1     TOR    AL   157 607 87 167 28  ⋯  95 21  6 43  90
⋮     ⋮         ⋮      ⋮     ⋮      ⋮    ⋮   ⋮   ⋮  ⋮   ⋮   ⋱ ⋮   ⋮  ⋮  ⋮  ⋮
25412 weeksri01 2016   1     ARI    NL   108 180 29  43  9  ⋯ 27  5  0  20  54
25413 werthja01 2016   1     WAS    NL   143 525 84 128 28  ⋯ 69  5  1  71 139
25414 whitety01 2016   1     HOU    AL    86 249 24  54 16  ⋯ 28  1  0  23  65
25415 whitlch01 2016   1     TBA    AL     5   0  0   0  0  ⋯  0  0  0   0   0
25416 wietema01 2016   1     BAL    AL   124 423 48 103 17  ⋯ 66  1  0  32  85
25417 wilheto01 2016   1     TEX    AL    21   0  0   0  0  ⋯  0  0  0   0   0
25418 willima07 2016   1     NYA    AL    12  27  4   8  1  ⋯  2  0  0   1  12
25419 wilsoal01 2016   1     DET    AL    62   0  0   0  0  ⋯  0  0  0   0   0
25420 wilsoju10 2016   1     DET    AL    66   0  0   0  0  ⋯  0  0  0   0   0
25421 wilsoty01 2016   1     BAL    AL    24   0  0   0  0  ⋯  0  0  0   0   0
25422 winklda01 2016   1     ATL    NL     3   0  0   0  0  ⋯  0  0  0   0   0
25423 wislema01 2016   1     ATL    NL    29  46  2   7  0  ⋯  2  0  0   1  21
25424 wolteto01 2016   1     COL    NL    71 205 27  53 15  ⋯ 30  4  1  21  53
25425 wongko01  2016   1     SLN    NL   121 313 39  75  7  ⋯ 23  7  0  34  52
25426 woodal02  2016   1     LAN    NL    15  16  2   4  0  ⋯  2  0  0   1   9
25427 woodbl01  2016   1     CIN    NL    70   2  0   0  0  ⋯  0  0  0   0   2
25428 woodtr01  2016   1     CHN    NL    81  11  0   2  0  ⋯  1  0  0   1   5
25429 worleva01 2016   1     BAL    AL    35   0  0   0  0  ⋯  0  0  0   0   0
25430 wrighda03 2016   1     NYN    NL    37 137 18  31  8  ⋯ 14  3  2  26  55
25431 wrighmi01 2016   1     BAL    AL    18   0  0   0  0  ⋯  0  0  0   0   0
25432 wrighst01 2016   1     BOS    AL    25   4  0   0  0  ⋯  0  0  0   0   3
25433 yateski01 2016   1     NYA    AL    41   0  0   0  0  ⋯  0  0  0   0   0
25434 yelicch01 2016   1     MIA    NL   155 578 78 172 38  ⋯ 98  9  4  72 138
25435 youngch03 2016   1     KCA    AL    34   1  0   0  0  ⋯  0  0  0   0   0
25436 youngch04 2016   1     BOS    AL    76 203 29  56 18  ⋯ 24  4  2  21  50
25437 zieglbr01 2016   1     ARI    NL    36   0  0   0  0  ⋯  0  0  0   0   0
25438 zimmejo02 2016   1     DET    AL    19   4  0   1  0  ⋯  0  0  0   0   2
25439 zimmery01 2016   1     WAS    NL   115 427 60  93 18  ⋯ 46  4  1  29 104
25440 zobribe01 2016   1     CHN    NL   147 523 94 142 31  ⋯ 76  6  4  96  82
25441 zychto01  2016   1     SEA    AL    12   0  0   0  0  ⋯  0  0  0   0   0
      IBB HBP SH SF GIDP
1     0    0   0  0  0
2     0    0   0  0  0
3     5    6   4  3  7
4     0    0   0  0  0
5     0    0   0  0  0
6     0    1   4  3  6
7     0    0   1  0  0
8     0    0   7  0  2
9     4    2   0  5 14
10    2    1   1  1  9
11    0    0   0  0  0
12    1    0   0  1  2
13    1    1  14  3  3
14    0    1   8  0  3
15    8    1   0 10 23
16    0    0   0  3 12
17    4    5   0  5 14
18    0    0   2  2  6
19    0    0   1  0  1
20    0    0   0  0  0
21    5    4   0  3 14
22    0    0   0  0  0
23    3    2  12  4 14
24    1    6   4  2 10
25    6   24   1 10 10
26    0    0   0  0  0
27    0    0   0  0  0
28    0    0   6  0  0
29    2    0   1  2 10
30    6    8   0  8  8
⋮     ⋮   ⋮   ⋮  ⋮  ⋮
25412 0   4   0  1   8
25413 0   4   0  6  17
25414 1   2   0  2   6
25415 0   0   0  0   0
25416 1   5   1  3  10
25417 0   0   0  0   0
25418 0   0   1  0   0
25419 0   0   0  0   0
25420 0   0   0  0   0
25421 0   0   0  0   0
25422 0   0   0  0   0
25423 0   0   5  1   2
25424 2   0   4  0   1
25425 2   9   0  5   3
25426 0   0   2  0   0
25427 0   0   0  0   0
25428 0   0   0  0   0
25429 0   0   0  0   0
25430 0   0   0  0   0
25431 0   0   0  0   0
25432 0   0   0  0   0
25433 0   0   0  0   0
25434 4   4   0  5  20
25435 0   0   0  0   0
25436 0   3   0  0   4
25437 0   0   0  0   0
25438 0   0   1  0   0
25439 1   5   0  6  12
25440 6   4   4  4  17
25441 0   0   0  0   0

This gives us a data frame with the same 22 columns as `Batting`, but only 25,441 rows (as opposed to the 112,184 rows in `Batting`).

#### Filtering join #2: `anti_join()`

**`anti_join(x, y)`** preserves all rows in **x** that do not have a matching key in **y**. It does not add any of the columns from **y**.

Let's try an anti-join with `Batting` and `Salaries`:

In [ ]:
Batting %>%
    anti_join(Salaries)

# Equivalently:
# anti_join(Batting, Salaries)

Joining with `by = join_by(playerID, yearID, teamID, lgID)`

      playerID  yearID stint teamID lgID G   AB  R  H   X2B ⋯ RBI SB CS BB SO
1     abercda01 1871   1     TRO    NA    1    4  0  0   0  ⋯  0   0 0   0 0
2     addybo01  1871   1     RC1    NA   25  118 30 32   6  ⋯ 13   8 1   4 0
3     allisar01 1871   1     CL1    NA   29  137 28 40   4  ⋯ 19   3 1   2 5
4     allisdo01 1871   1     WS3    NA   27  133 28 44  10  ⋯ 27   1 1   0 2
5     ansonca01 1871   1     RC1    NA   25  120 29 39  11  ⋯ 16   6 2   2 1
6     armstbo01 1871   1     FW1    NA   12   49  9 11   2  ⋯  5   0 1   0 1
7     barkeal01 1871   1     RC1    NA    1    4  0  1   0  ⋯  2   0 0   1 0
8     barnero01 1871   1     BS1    NA   31  157 66 63  10  ⋯ 34  11 6  13 1
9     barrebi01 1871   1     FW1    NA    1    5  1  1   1  ⋯  1   0 0   0 0
10    barrofr01 1871   1     BS1    NA   18   86 13 13   2  ⋯ 11   1 0   0 0
11    bassjo01  1871   1     CL1    NA   22   89 18 27   1  ⋯ 18   0 1   3 4
12    battijo01 1871   1     CL1    NA    1    3  0  0   0  ⋯  0   0 0   1 0
13    bealsto01 1871   1     WS3    NA   10   36  6  7   0  ⋯  1   2 0   2 0
14    beaveed01 1871   1     TRO    NA    3   15  7  6   0  ⋯  5   2 0   0 0
15    bechtge01 1871   1     PH1    NA   20   94 24 33   9  ⋯ 21   4 0   2 2
16    bellast01 1871   1     TRO    NA   29  128 26 32   3  ⋯ 23   4 4   9 2
17    berkena01 1871   1     PH1    NA    1    4  0  0   0  ⋯  0   0 0   0 3
18    berryto01 1871   1     PH1    NA    1    4  0  1   0  ⋯  0   0 0   0 0
19    berthha01 1871   1     WS3    NA   17   73 17 17   1  ⋯  8   3 1   4 2
20    biermch01 1871   1     FW1    NA    1    2  0  0   0  ⋯  0   0 0   1 0
21    birdge01  1871   1     RC1    NA   25  106 19 28   2  ⋯ 13   1 0   3 2
22    birdsda01 1871   1     BS1    NA   29  152 51 46   3  ⋯ 24   6 0   4 4
23    brainas01 1871   1     WS3    NA   30  134 24 30   4  ⋯ 21   4 0   7 2
24    brannmi01 1871   1     CH1    NA    3   14  2  1   0  ⋯  0   0 0   0 0
25    burrohe01 1871   1     WS3    NA   12   63 11 15   2  ⋯ 14   0 0   1 1
26    careyto01 1871   1     FW1    NA   19   87 16 20   2  ⋯ 10   5 0   2 1
27    carleji01 1871   1     CL1    NA   29  127 31 32   8  ⋯ 18   2 1   8 3
28    conefr01  1871   1     BS1    NA   19   77 17 20   3  ⋯ 16  12 1   8 2
29    connone01 1871   1     TRO    NA    7   33  6  7   0  ⋯  2   0 0   0 0
30    cravebi01 1871   1     TRO    NA   27  118 26 38   8  ⋯ 26   6 3   3 0
⋮     ⋮         ⋮      ⋮     ⋮      ⋮    ⋮   ⋮   ⋮  ⋮   ⋮   ⋱ ⋮   ⋮  ⋮  ⋮  ⋮
86714 woodrbr01 2022   1     MIL    NL    27   0  0   0  0  ⋯  0   0 0   0   0
86715 woodssi01 2022   1     MIN    AL     1   0  0   0  0  ⋯  0   0 0   0   0
86716 woodswi01 2022   1     ATL    NL     2   0  0   0  0  ⋯  0   0 0   0   0
86717 wrighky01 2022   1     ATL    NL    30   0  0   0  0  ⋯  0   0 0   0   0
86718 wynnsau01 2022   1     SFN    NL    66 162 14  42  7  ⋯ 21   0 0  10  38
86719 yacabji01 2022   1     MIA    NL     9   0  0   0  0  ⋯  0   0 0   0   0
86720 yacabji01 2022   2     TBA    AL     5   0  0   0  0  ⋯  0   0 0   0   0
86721 yajurmi01 2022   1     PIT    NL    12   0  0   0  0  ⋯  0   0 0   0   0
86722 yarbrry01 2022   1     TBA    AL    20   0  0   0  0  ⋯  0   0 0   0   0
86723 yastrmi01 2022   1     SFN    NL   148 485 73 104 31  ⋯ 57   5 1  61 141
86724 yateski01 2022   1     ATL    NL     9   0  0   0  0  ⋯  0   0 0   0   0
86725 yelicch01 2022   1     MIL    NL   154 575 99 145 25  ⋯ 57  19 3  88 162
86726 yepezju01 2022   1     SLN    NL    76 253 27  64 13  ⋯ 30   0 0  16  61
86727 ynoahu01  2022   1     ATL    NL     2   0  0   0  0  ⋯  0   0 0   0   0
86728 youngal01 2022   1     CLE    AL     1   0  0   0  0  ⋯  0   0 0   0   0
86729 youngal01 2022   2     SFN    NL    24   0  0   0  0  ⋯  0   0 0   0   0
86730 youngda02 2022   1     SEA    AL     2   0  0   0  0  ⋯  0   0 0   0   0
86731 youngda02 2022   2     ATL    NL     1   0  0   0  0  ⋯  0   0 0   0   0
86732 youngja02 2022   1     CHN    NL     6  19  2   5  2  ⋯  0   1 0   3   7
86733 zabalan01 2022   1     MIA    NL     2   0  0   0  0  ⋯  0   0 0   0   0
86734 zastrro01 2022   1     NYN    NL     1   0  0   0  0  ⋯  0   0 0   0   0
86735 zastrro01 2022   2     LAA    AL     5   0  0   0  0  ⋯  0   0 0   0   0
86736 zavalse01 2022   1     CHA    AL    61 178 22  48 14  ⋯ 21   0 0  19  64
86737 zerpaan01 2022   1     KCA    AL     3   0  0   0  0  ⋯  0   0 0   0   0
86738 zeuchtj01 2022   1     CIN    NL     3   0  0   0  0  ⋯  0   0 0   0   0
86739 zimmebr01 2022   1     TOR    AL    77  76 11   8  4  ⋯  3   2 1   5  33
86740 zimmebr01 2022   2     PHI    NL     9  16  4   4  1  ⋯  0   0 0   0   4
86741 zimmebr01 2022   3     TOR    AL    23  13  3   1  0  ⋯  2   1 1   0   8
86742 zimmebr02 2022   1     BAL    AL    15   0  0   0  0  ⋯  0   0 0   0   0
86743 zuninmi01 2022   1     TBA    AL    36 115  7  17  3  ⋯ 16   0 0   6  46
      IBB HBP SH SF GIDP
1     NA  NA  NA NA 0
2     NA  NA  NA NA 0
3     NA  NA  NA NA 1
4     NA  NA  NA NA 0
5     NA  NA  NA NA 0
6     NA  NA  NA NA 0
7     NA  NA  NA NA 0
8     NA  NA  NA NA 1
9     NA  NA  NA NA 0
10    NA  NA  NA NA 0
11    NA  NA  NA NA 0
12    NA  NA  NA NA 0
13    NA  NA  NA NA 2
14    NA  NA  NA NA 0
15    NA  NA  NA NA 1
16    NA  NA  NA NA 2
17    NA  NA  NA NA 0
18    NA  NA  NA NA 0
19    NA  NA  NA NA 0
20    NA  NA  NA NA 0
21    NA  NA  NA NA 3
22    NA  NA  NA NA 1
23    NA  NA  NA NA 1
24    NA  NA  NA NA 0
25    NA  NA  NA NA 0
26    NA  NA  NA NA 0
27    NA  NA  NA NA 3
28    NA  NA  NA NA 1
29    NA  NA  NA NA 0
30    NA  NA  NA NA 3
⋮     ⋮   ⋮   ⋮  ⋮  ⋮
86714 0   0   0  0  0
86715 0   0   0  0  0
86716 0   0   0  0  0
86717 0   0   0  0  0
86718 0   3   1  1  9
86719 0   0   0  0  0
86720 0   0   0  0  0
86721 0   0   0  0  0
86722 0   0   0  0  0
86723 0   5   1  6  3
86724 0   0   0  0  0
86725 5   5   1  2  9
86726 0   1   0  4  6
86727 0   0   0  0  0
86728 0   0   0  0  0
86729 0   0   0  0  0
86730 0   0   0  0  0
86731 0   0   0  0  0
86732 0   0   0  0  0
86733 0   0   0  0  0
86734 0   0   0  0  0
86735 0   0   0  0  0
86736 0   3   3  2  1
86737 0   0   0  0  0
86738 0   0   0  0  0
86739 0   5   1  0  0
86740 0   0   0  0  0
86741 0   1   0  0  0
86742 0   0   0  0  0
86743 0   1   0  1  2

Similar to the semi-join from above, we get a data frame with the same 22 columns as `Batting`. However, the anti-join table has 86,743 rows. This means that 86,743 rows in `Batting` have no matching key in `Salaries`, and the remaining 25,441 rows in `Batting` have at least one matching key in `Salaries`.

### Exercise 1

**`Batting` contains single-season batting statistics for individual batters. `Salaries` contains single-season salary information for individual players. `People` contains demographic information about individual players, including their name and where they are from.**

**Using the information in these three data frames, create a scatterplot where the x-axis is `salary` and the y-axis is `HR` (home runs). Include only data from the 1998 season for batters who played at least 100 games (`G >= 100`) and who were born in either the United States (USA) or the Dominican Republic (D.R.).**

**BONUS: There are only four players in this scatterplot who hit at least 40 home runs and made at least \$7,500,000 in 1998. Can you find their first and last names?**

In [ ]:
### YOUR SOLUTION HERE

### Exercise 2

**At the end of every baseball season, Gold Glove awards are handed out to the best defensive players at each position. This information, along with other awards data, is stored in the `AwardsPlayers` data frame. The following code creates a tibble of the `playerID`s of players who have won a Gold Glove since 1950:**

In [ ]:
gold_gloves <- AwardsPlayers %>%
                filter(awardID == "Gold Glove", yearID >= 1950) %>%
                select(playerID)

**The `People` data frame contains demographic information about individual players, including their birth months. Filter `People` to only players who have won a Gold Glove award. What is the most common birth month of these Gold Glove winners? The least common?**

**BONUS: Filter `People` to only players who have *not* won a Gold Glove award. What is the most common birth month of these non-Gold Glove winners? The least common?**

In [ ]:
### YOUR SOLUTION HERE

# Databases

This section of the lab is largely based on [Chapter 22 of R4DS](https://r4ds.hadley.nz/databases.html). This chapter is a great resource if you would like to learn more about Databases!

#### What is a Database?

- A *Database* contains a collection of data frames (called *tables* in database terminology).
- Much more memory efficient than a CSV file, and are used for large ammounts of data.
- Databases are saved on hard disk rather than RAM.

#### Why should we care?

- Most companies store data in databases because its cheaper and more memory efficient than alternatives.

#### Types of Databases

- There are several types of databases including, and several different ways that one may interact with a database.
- Popular Data Base Managing Systems (DBMS) include **PostgreSQL**, **SQL Server** and **SQLite**.
- Most DBMS use aa variation of SQL (Structured Query Language).

For this lab, we will be using the DBMS called **RSQLite**, because this won't require any additional installations (other than `R` packages).

#### Packages to install, if needed

In [ ]:
library(DBI)  # To connect to a DB
library(dbplyr)  # To perform dplyr like operations on a DB.

Attaching package: ‘dbplyr’


The following objects are masked from ‘package:dplyr’:

    ident, sql

### Connecting to a database

A database will often exist on your local computer or on a server that you have access to. In order to do anything with this data, we first have to **connect** with the database.

The code below demonstrates how you might create a connection to a database using some popular DBMS:

```
con <- DBI::dbConnect(
  RMariaDB::MariaDB(),
  username = "foo"
)
con <- DBI::dbConnect(
  RPostgres::Postgres(),
  hostname = "databases.mycompany.com",
  port = 1234
)
```

The first argument is the DBMS that will be used, the following arguments are important features that you might need in order to connect to the database (i.e., username, password, location, etc.).

**Note:** The details on how to establish a connection will change a lot from DBMS to DBMS, so you may need to do some research on how to connect to a database with your specific DBMS.



**For this lab**, we are going to create a database using `RSQLite`.

In [ ]:
con <- DBI::dbConnect(RSQLite::SQLite())  # Connect to a new, temporary db using RSQLite
# con <- DBI::dbConnect(RSQLite::SQLite(), "my_db.sqlite")  # this version would create a new DB that isn't temporary

dbplyr::copy_nycflights13(con)  # Copy all of the nycflights data into our temporary data base
dbWriteTable(con, "iris", iris)  # Copy iris dataset into database
dbWriteTable(con, "diamonds", ggplot2::diamonds)  # Copy diamonds dataset into the database

Creating table: airlines

Creating table: airports

Creating table: flights

Creating table: planes

Creating table: weather

Once we have created our database, we can check what tables are present in the database:

In [ ]:
dbListTables(con)

[1] "airlines"     "airports"     "diamonds"     "flights"      "iris"
[6] "planes"       "sqlite_stat1" "sqlite_stat4" "weather"

While `RSQLite` enables us to do several operations on a data base, we as data scientists and statisticians are particularly interested in retrieving information from the database. This is done by using a `SELECT` statement in the SQL language, and is referred to as a **query**.

In [ ]:
SQL_query <- '
    SELECT Species, "Sepal.Length", "Sepal.Width"
    FROM iris
    WHERE "Petal.Width" > 0.8 AND "Sepal.Width" > 3.1
'

query_result <- dbGetQuery(con, SQL_query)
head(query_result)

  Species    Sepal.Length Sepal.Width
1 versicolor 7.0          3.2
2 versicolor 6.4          3.2
3 versicolor 6.3          3.3
4 versicolor 5.9          3.2
5 versicolor 6.0          3.4
6 virginica  6.3          3.3

**An SQL query has 3 main components:**
- SELECT: the columns from the data.frame (or table) we want to include
- FROM: The table we want to query data from
- WHERE: any conditions we want to specify

Other key words / operations include:
- GROUP BY
- ORDER BY


**Note:** In most DBMS, the keywords are **not** case sensitive, so `select`, `fRoM`, and `WHerE` would all work. It is just standard practice to capatalize all key words to distinguish them from table names or columns. Similarly, sometimes semicolons are used, and are required by some DBMS.

Another example:

In [ ]:
SQL_query <- '
    SELECT Species, "Sepal.Length" * "Sepal.Width" AS Sepal_Area
    FROM iris
    WHERE "Petal.Width" > 0.8 AND "Sepal.Width" > 3.1
'

query_result <- dbGetQuery(con, SQL_query)
head(query_result)

  Species    Sepal_Area
1 versicolor 22.40
2 versicolor 20.48
3 versicolor 20.79
4 versicolor 18.88
5 versicolor 20.40
6 virginica  20.79

In the example above, we see that we can modify column names and columns in the select statement. SQL is a complex language!

**Don't panic! You don't need to learn another entire programming language for this course**. Knowing a bit of SQL can be helpful, but the `dbplyr` package will translate and perform standard `dplyr` operations like `select`, `mutate`, and `summarize` for us!

In [ ]:
large_diamonds <- tbl(con, "diamonds") %>%
   filter(price > 15000) %>%
   select(carat:clarity, price) %>%
   group_by(color) %>%
   summarize(mean_price = mean(price, na.rm = TRUE))

head(large_diamonds)

# Source:   SQL [6 x 2]
# Database: sqlite 3.41.2 []
  color mean_price
  <chr>      <dbl>
1 D         16684.
2 E         16715.
3 F         16937.
4 G         16779.
5 H         16990.
6 I         16606.

While this executes the query for us, we can also see what query was used by running the `show_query()` function:

In [ ]:
large_diamonds %>% show_query()

<SQL>
SELECT `color`, AVG(`price`) AS `mean_price`
FROM (
  SELECT `carat`, `cut`, `color`, `clarity`, `price`
  FROM `diamonds`
  WHERE (`price` > 15000.0)
)
GROUP BY `color`

In the resulting SQL query, we are using what is called a *sub query*. That is, we are selecting columns `color` and `AVG(price)` from the result of another SQL query!

Let's check the class of the `large_diamonds` object:

In [ ]:
class(large_diamonds)

[1] "tbl_SQLiteConnection" "tbl_dbi"              "tbl_sql"
[4] "tbl_lazy"             "tbl"

Notice that this object is still an SQL connection, not just a `data.frame` or `tbl`. Therefore if this is the data we want to work with, we should use the `collect()` function to convert it into just a `tbl`:

In [ ]:
large_diamonds %>% collect()

  color mean_price
1 D     16683.58
2 E     16715.44
3 F     16937.06
4 G     16779.08
5 H     16989.91
6 I     16606.42
7 J     16692.74

### Exercise 3

**Using an SQL query, return a dataset containing all columns from the `flights` dataset and keep only flights from the `JFK` airport that occured in December.**

**Hint: Like other programing languages, we can use `*` as a *wild card* selector to get all columns from a dataset.**


**BONUS: Try using the ORDER BY key word to arrange the results by descending `day`**

In [ ]:
### YOUR SOLUTION HERE

### Exercise 4

**Use an SQL query (or `dbplyr`) to find the total number of flights and the average delay on Christmas eve or Christmas day for each airline. Display the results in order of mean delay, and then if there is a tie sort by the number of flights; only display the information for airlines that had at least 50 flights.**

In [ ]:
### YOUR SOLUTION HERE

### IMPORTANT! Always close your connection to the DB!

In [ ]:
dbDisconnect(con)