In [2]:
library(tidyverse)
library(readxl)
options(repr.plot.width = 5, repr.plot.height = 5)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.2     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.3     ✔ tibble    3.2.1
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

# STATS 306

## Homework 6: Importing data

For each problem, enter the R code in the cell marked "YOUR SOLUTION HERE".

## Problem 1: Scraping with `rvest` (2.5 points)

Use the `rvest` package to answer the following questions.

In [3]:
library(rvest)

Attaching package: ‘rvest’


The following object is masked from ‘package:readr’:

    guess_encoding

**(a)** [This web page](https://datatables.net/examples/data_sources/dom.html) has a table that records the name, position, office, age, start date, and salary of every employee in a company. Scrape this table and remove the last row. Save the table as `df` and print the LAST 6 rows. *(1 point)*

**HINT:** After reading in the above web page with `read_html()`, one way to scrape the table is to use `html_element("table")` followed by `html_table()`. You can use `tail()` to print the last several rows.

In [ ]:
#YOUR SOLUTION HERE

**(b)** Create a scatterplot to check the relationship between `Age` and `Salary`. Note that these columns may have been stored as characters in `df`, as the original values contain special characters `$` and `,` etc. You need to remove `$` and `,` from `Salary` and then convert both `Age` and `Salary` to numeric. *(1.5 points)*

**HINT:** You may use function `parse_number` to convert a character variable to numeric. You could also use the function `as.numeric` too. If you are using `as.numeric` you will first have to clean the non-number part of the data and then use the function.
Some examples:

In [7]:
x <- c("-0.1", " 2.7 ", "$3")
print(x)

# example with parse number
y1 <- parse_number(x)
print(y1)
print(is.numeric(y1))


# example for as.numeric()
y2 <- as.numeric(x)
print(y2) # as.numeric introduced an NA! as it did not understand the $
is.numeric(y2)

[1] "-0.1"  " 2.7 " "$3"
[1] -0.1  2.7  3.0
[1] TRUE

Warning message in eval(expr, envir, enclos):
“NAs introduced by coercion”

[1] -0.1  2.7   NA

[1] TRUE

`parse_number` saves you from removing the non-numeric parts like `$`, `,` etc. But if you want to use `as.numeric` you have to first extract the numeric part before you apply the function.

In [ ]:
#YOUR SOLUTION HERE

## Problem 2: Formula One Race Data (2.5 points)
Formula One (more commonly known as Formula 1 or F1) is the highest class of international racing for open-wheel single-seater formula racing cars sanctioned by the Fédération Internationale de l'Automobile (FIA). The FIA Formula One World Championship has been one of the premier forms of racing around the world since its inaugural season in 1950.

The dataset `F1_Race_Data.xlsx` contains data from 1950 all the way through the 2017 season. We will use three tables for this problem:

*   `drivers`: Containing personal information of F1 driver, with primary key `driverId`
*   `races`: Containing the location and time for each grand prix, with primary key `raceId`.
*   `results`: Containing the results in each race, with primary key `resultId`, foreign keys are `driverId` (to drivers) and `raceId`(to races)

**(a)**
Import the dataset into three Tibbles and name them `drivers`, `races`, and `results`, respectively. Load the **first 10 columns only** for the `results` table (Hint: use the `range` keyword argument in the read_excel function to define the columns needed). Print the column names of three tables. *(0.5 pt)*

In [ ]:
# YOUR SOLUTION HERE

**(b)** Find drivers who won first place (earning 25 points) in 2016. The output table should include: `race_name`, `race_date`, `forename`, `surname`, and `start_position`. *(1 pt)*

**Hint**: `grid` is the start position for the race. You can use `rename` to rename the column names

In [ ]:
# YOUR SOLUTION HERE

**(c)** Generate a plot of the cumulative points across each round of the top 5 drivers in 2016. *(1 pt)*

**Hint**: You may want to use `cumsum()` function.

In [ ]:
# YOUR SOLUTION HERE