# Lecture 10:
<div style="border: 1px double black; padding: 10px; margin: 10px">

**Goals for today's lecture:**
* More on joins
* Learn SQL (Structured Query Language)
</div>

In [1]:
install.packages('RSQLite')  # if required
install.packages('nycflights13')

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependency ‘plogr’


Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [3]:
library(DBI)
library(dbplyr)
library(tidyverse)
library(nycflights13)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.3     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.3     ✔ tibble    3.2.1
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::ident()  masks dbplyr::ident()
✖ dplyr::lag()    masks stats::lag()
✖ dplyr::sql()    masks dbplyr::sql()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

### Exercise
Assume every flight is full. The busiest travel day in terms of total # of passengers scheduled to depart is:
(Hint: the `planes` table tells you how many passengers each airplane holds.)

In [9]:
# code here
flights %>%
  left_join(planes, join_by(tailnum)) %>%
    group_by(month, day) %>%
      summarise(total = sum(seats, na.rm = T)) %>%
        arrange(-total)

`summarise()` has grouped output by 'month'. You can override using the
`.groups` argument.

    month day total
1   11    27  118869
2   12     2  117736
3   11    26  117470
4   10    18  117324
5   10    21  117166
6    7    26  116944
7   11     7  116734
8    4     3  116716
9   11    21  116577
10  10     3  116514
11   8    16  116509
12  10    10  116469
13  11     8  116411
14  12    23  116376
15   7    24  116219
16  12     1  116218
17  11    22  116154
18   7    31  116098
19   8    21  116044
20  10    17  116027
21   6    14  115951
22  10    11  115947
23  10     4  115924
24  11    15  115898
25   7    25  115872
26   8    19  115866
27   8     7  115770
28  11     1  115762
29  11    14  115720
30  12     3  115705
⋮   ⋮     ⋮   ⋮
336  2    16  87885
337  5     4  87819
338  7     4  87630
339  1     5  87004
340 11    16  86991
341 11     9  86815
342  5    26  86343
343  5    11  86320
344 11     2  86014
345  5    25  85750
346  2     8  85468
347  9     1  85464
348 10    19  85006
349 10     5  84899
350  9    21  84321
351 10    26  84242
352  8    31  83418
353  9    14  83064
354  9    28  82920
355 10    12  82671
356  9     7  82605
357  1    12  80170
358 12     7  80110
359  1    19  79947
360  1    26  79846
361  2     2  78490
362 11    29  78080
363 12    14  75186
364 11    28  74750
365  2     9  59809

### Anti-join
`anti_join(x, y)` does the opposite of `semi_join`: it *drops* all the observations in `x` that are also in `y`.
![anti join](https://r4ds.hadley.nz/diagrams/join/anti.png)

Anti-joins are useful for finding mismatches in joins. There are many flights for which there is no tailnum in 'planes' table. To find out more about these flights we could use an anti-join to select only those rows:

In [13]:
anti_join(
    flights,
    planes,
    join_by("tailnum")
) %>% filter(!is.na(tailnum)) %>%
    distinct(tailnum) %>%
    print

# A tibble: 721 × 1
   tailnum
   <chr>
 1 N3ALAA
 2 N3DUAA
 3 N542MQ
 4 N730MQ
 5 N9EAMQ
 6 N532UA
 7 N3EMAA
 8 N518MQ
 9 N3BAAA
10 N3CYAA
# ℹ 711 more rows


What could be the reason for missing tailnums in the planes dataframe?

In [14]:
flights %>% filter(tailnum == "N3ALAA") %>% print(width = Inf)

# A tibble: 63 × 19
    year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time
   <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>
 1  2013     1     1      558            600        -2      753            745
 2  2013     1     2     1907           1820        47     2037           2005
 3  2013     1     3      600            600         0      736            745
 4  2013     1     7     1911           1920        -9     2042           2100
 5  2013     1     8     1718           1720        -2     1900           1915
 6  2013     1    16      643            600        43      829            745
 7  2013     1    20     1829           1820         9     2007           2005
 8  2013     1    22     1713           1720        -7     1915           1915
 9  2013    10    11      624            629        -5      907            929
10  2013    10    14      821            825        -4      916            935
   arr_delay carrier flight tailnum origin dest  air_time distance  hour minute
       <dbl> <chr>    <int> <chr>   <chr>  <chr>    <dbl>    <dbl> <dbl>  <dbl>
 1         8 AA         301 N3ALAA  LGA    ORD        138      733     6      0
 2        32 AA         353 N3ALAA  LGA    ORD        123      733    18     20
 3        -9 AA         301 N3ALAA  LGA    ORD        132      733     6      0
 4       -18 AA         359 N3ALAA  LGA    ORD        118      733    19     20
 5       -15 AA        1351 N3ALAA  JFK    ORD        130      740    17     20
 6        44 AA         301 N3ALAA  LGA    ORD        139      733     6      0
 7         2 AA         353 N3ALAA  LGA    ORD        125      733    18     20
 8         0 AA        1351 N3ALAA  JFK    ORD        129      740    17     20
 9       -22 AA        1205 N3ALAA  EWR    MIA        141     1085     6     29
10       -19 AA          84 N3ALAA  JFK    BOS         33      187     8     25
   time_hour
   <dttm>
 1 2013-01-01 06:00:00
 2 2013-01-02 18:00:00
 3 2013-01-03 06:00:00
 4 2013-01-07 19:00:00
 5 2013-01-08 17:00:00
 6 2013-01-16 06:00:00
 7 2013-01-20 18:00:00
 8 2013-01-22 17:00:00
 9 2013-10-11 06:00:00
10 2013-10-14 08:00:00
# ℹ 53 more rows

The one plane that is represented is N539AA. You can [look it up](https://flightaware.com/resources/registration/N539AA) in an online database and find out it's a private jet. My guess is the others are private jets too.

Picture: https://s3.eu-west-2.amazonaws.com/abpic-media-eu-production/pictures/full_size_0415/1625779-large.jpg

# SQL - Structured Query Language

A huge amount of data lives in relational databases so it is important to understand how to connect to a relational database and work with it.

To connect to the database from R, you’ll use a pair of packages:

* DBI (database interface) - this provides a set of generic functions that connect to the database, upload data, run SQL queries, etc.
* You’ll also use a package tailored for the DBMS you’re connecting to. This package translates the generic DBI commands into the specifics needed for a given DBMS. There’s usually one package for each DMBS, e.g. RPostgres for Postgres and RMariaDB for MySQL. In this example we use SQLite and the package to use is **RSQLite**

In [15]:
# Create an ephemeral in-memory RSQLite database
con <- dbConnect(RSQLite::SQLite(), ":memory:")

dbListTables(con)

character(0)

At the outset you see that there are no tables when you run the above command.

### dbplyr
dbplyr is a dplyr backend, that allows you to keep writing dplyr code and **dbplyr** translates it to SQL.
Now we are going to create a table called 'mpg' in our SQLite database using the mpg tibble and dbplyr is generating the necessary SQL queries to get this done behind the scenes.

In [16]:
dbWriteTable(con, "mpg", mpg, overwrite = T)
dbListTables(con)

[1] "mpg"

In [ ]:
# dbRemoveTable(con, 'mpg') # this will delete the table

Now let us look into the column names of this table

In [ ]:
dbListFields(con, "mpg")

 [1] "manufacturer" "model"        "displ"        "year"         "cyl"
 [6] "trans"        "drv"          "cty"          "hwy"          "fl"
[11] "class"

Time to read the entire table!

In [17]:
dbReadTable(con, "mpg")

    manufacturer model              displ year cyl trans      drv cty hwy fl
1   audi         a4                 1.8   1999 4   auto(l5)   f   18  29  p
2   audi         a4                 1.8   1999 4   manual(m5) f   21  29  p
3   audi         a4                 2.0   2008 4   manual(m6) f   20  31  p
4   audi         a4                 2.0   2008 4   auto(av)   f   21  30  p
5   audi         a4                 2.8   1999 6   auto(l5)   f   16  26  p
6   audi         a4                 2.8   1999 6   manual(m5) f   18  26  p
7   audi         a4                 3.1   2008 6   auto(av)   f   18  27  p
8   audi         a4 quattro         1.8   1999 4   manual(m5) 4   18  26  p
9   audi         a4 quattro         1.8   1999 4   auto(l5)   4   16  25  p
10  audi         a4 quattro         2.0   2008 4   manual(m6) 4   20  28  p
11  audi         a4 quattro         2.0   2008 4   auto(s6)   4   19  27  p
12  audi         a4 quattro         2.8   1999 6   auto(l5)   4   15  25  p
13  audi         a4 quattro         2.8   1999 6   manual(m5) 4   17  25  p
14  audi         a4 quattro         3.1   2008 6   auto(s6)   4   17  25  p
15  audi         a4 quattro         3.1   2008 6   manual(m6) 4   15  25  p
16  audi         a6 quattro         2.8   1999 6   auto(l5)   4   15  24  p
17  audi         a6 quattro         3.1   2008 6   auto(s6)   4   17  25  p
18  audi         a6 quattro         4.2   2008 8   auto(s6)   4   16  23  p
19  chevrolet    c1500 suburban 2wd 5.3   2008 8   auto(l4)   r   14  20  r
20  chevrolet    c1500 suburban 2wd 5.3   2008 8   auto(l4)   r   11  15  e
21  chevrolet    c1500 suburban 2wd 5.3   2008 8   auto(l4)   r   14  20  r
22  chevrolet    c1500 suburban 2wd 5.7   1999 8   auto(l4)   r   13  17  r
23  chevrolet    c1500 suburban 2wd 6.0   2008 8   auto(l4)   r   12  17  r
24  chevrolet    corvette           5.7   1999 8   manual(m6) r   16  26  p
25  chevrolet    corvette           5.7   1999 8   auto(l4)   r   15  23  p
26  chevrolet    corvette           6.2   2008 8   manual(m6) r   16  26  p
27  chevrolet    corvette           6.2   2008 8   auto(s6)   r   15  25  p
28  chevrolet    corvette           7.0   2008 8   manual(m6) r   15  24  p
29  chevrolet    k1500 tahoe 4wd    5.3   2008 8   auto(l4)   4   14  19  r
30  chevrolet    k1500 tahoe 4wd    5.3   2008 8   auto(l4)   4   11  14  e
⋮   ⋮            ⋮                  ⋮     ⋮    ⋮   ⋮          ⋮   ⋮   ⋮   ⋮
205 toyota       toyota tacoma 4wd  3.4   1999 6   auto(l4)   4   15  19  r
206 toyota       toyota tacoma 4wd  4.0   2008 6   manual(m6) 4   15  18  r
207 toyota       toyota tacoma 4wd  4.0   2008 6   auto(l5)   4   16  20  r
208 volkswagen   gti                2.0   1999 4   manual(m5) f   21  29  r
209 volkswagen   gti                2.0   1999 4   auto(l4)   f   19  26  r
210 volkswagen   gti                2.0   2008 4   manual(m6) f   21  29  p
211 volkswagen   gti                2.0   2008 4   auto(s6)   f   22  29  p
212 volkswagen   gti                2.8   1999 6   manual(m5) f   17  24  r
213 volkswagen   jetta              1.9   1999 4   manual(m5) f   33  44  d
214 volkswagen   jetta              2.0   1999 4   manual(m5) f   21  29  r
215 volkswagen   jetta              2.0   1999 4   auto(l4)   f   19  26  r
216 volkswagen   jetta              2.0   2008 4   auto(s6)   f   22  29  p
217 volkswagen   jetta              2.0   2008 4   manual(m6) f   21  29  p
218 volkswagen   jetta              2.5   2008 5   auto(s6)   f   21  29  r
219 volkswagen   jetta              2.5   2008 5   manual(m5) f   21  29  r
220 volkswagen   jetta              2.8   1999 6   auto(l4)   f   16  23  r
221 volkswagen   jetta              2.8   1999 6   manual(m5) f   17  24  r
222 volkswagen   new beetle         1.9   1999 4   manual(m5) f   35  44  d
223 volkswagen   new beetle         1.9   1999 4   auto(l4)   f   29  41  d
224 volkswagen   new beetle         2.0   1999 4   manual(m5) f   21  29  r
225 volkswagen   new beetle         2.0   1999 4   auto(l4)   f   19  26  r
226 volkswagen   new beetle         2.5   2008 5   manual(m5) f   20  28  r
227 volkswagen   new beetle         2.5   2008 5   auto(s6)   f   20  29  r
228 volkswagen   passat             1.8   1999 4   manual(m5) f   21  29  p
229 volkswagen   passat             1.8   1999 4   auto(l5)   f   18  29  p
230 volkswagen   passat             2.0   2008 4   auto(s6)   f   19  28  p
231 volkswagen   passat             2.0   2008 4   manual(m6) f   21  29  p
232 volkswagen   passat             2.8   1999 6   auto(l5)   f   16  26  p
233 volkswagen   passat             2.8   1999 6   manual(m5) f   18  26  p
234 volkswagen   passat             3.6   2008 6   auto(s6)   f   17  26  p
    class
1   compact
2   compact
3   compact
4   compact
5   compact
6   compact
7   compact
8   compact
9   compact
10  compact
11  compact
12  compact
13  compact
14  compact
15  compact
16  midsize
17  midsize
18  midsize
19  suv
20  suv
21  suv
22  suv
23  suv
24  2seater
25  2seater
26  2seater
27  2seater
28  2seater
29  suv
30  suv
⋮   ⋮
205 pickup
206 pickup
207 pickup
208 compact
209 compact
210 compact
211 compact
212 compact
213 compact
214 compact
215 compact
216 compact
217 compact
218 compact
219 compact
220 compact
221 compact
222 subcompact
223 subcompact
224 subcompact
225 subcompact
226 subcompact
227 subcompact
228 midsize
229 midsize
230 midsize
231 midsize
232 midsize
233 midsize
234 midsize

### Selecting data from a table
The SQL syntax for selecting column(s) from a table is
```{sql}
SELECT <col1>, <col2>, ..., <coln> FROM <table>
```
Note the similarity to the corresponding `tidyverse` command:
```{r}
select(<table>, <col1>, <col2>, ..., <coln>)
```

Let us select some records

In [18]:
res <- dbSendQuery(con, "SELECT * FROM mpg")
res

<SQLiteResult>
  SQL  SELECT * FROM mpg
  ROWS Fetched: 0 [incomplete]
       Changed: 0

In [19]:
dbFetch(res) %>% head

  manufacturer model displ year cyl trans      drv cty hwy fl class
1 audi         a4    1.8   1999 4   auto(l5)   f   18  29  p  compact
2 audi         a4    1.8   1999 4   manual(m5) f   21  29  p  compact
3 audi         a4    2.0   2008 4   manual(m6) f   20  31  p  compact
4 audi         a4    2.0   2008 4   auto(av)   f   21  30  p  compact
5 audi         a4    2.8   1999 6   auto(l5)   f   16  26  p  compact
6 audi         a4    2.8   1999 6   manual(m5) f   18  26  p  compact

In [20]:
dbFetch(res)

     manufacturer model displ year cyl trans drv cty hwy fl class

The special keyword `*` means "select everything" and is equivalent to `dplyr`'s `everything()`:

If you have a really big table, SQL allows you to `LIMIT` the number of rows it returns.f

In [21]:
# using limit
res <- dbSendQuery(con, "SELECT * FROM mpg LIMIT 2")
dbFetch(res)

Warning message:
“Closing open result set, pending rows”

  manufacturer model displ year cyl trans      drv cty hwy fl class
1 audi         a4    1.8   1999 4   auto(l5)   f   18  29  p  compact
2 audi         a4    1.8   1999 4   manual(m5) f   21  29  p  compact

In [ ]:
dbClearResult(res)

### Filtering

The SQL syntax for filtering rows in a table uses the `WHERE` clause:
```{sql}
SELECT * FROM <table> WHERE dest = "IAH"
```
This is the same as:
```{r}
filter(<table>, dest == "IAH")
```
Note that SQL uses a single `=` to check equality!

In [22]:
res <- dbSendQuery(con, "SELECT * FROM mpg WHERE cyl = 4")
dbFetch(res)

Warning message:
“Closing open result set, pending rows”

   manufacturer model             displ year cyl trans      drv cty hwy fl
1  audi         a4                1.8   1999 4   auto(l5)   f   18  29  p
2  audi         a4                1.8   1999 4   manual(m5) f   21  29  p
3  audi         a4                2.0   2008 4   manual(m6) f   20  31  p
4  audi         a4                2.0   2008 4   auto(av)   f   21  30  p
5  audi         a4 quattro        1.8   1999 4   manual(m5) 4   18  26  p
6  audi         a4 quattro        1.8   1999 4   auto(l5)   4   16  25  p
7  audi         a4 quattro        2.0   2008 4   manual(m6) 4   20  28  p
8  audi         a4 quattro        2.0   2008 4   auto(s6)   4   19  27  p
9  chevrolet    malibu            2.4   1999 4   auto(l4)   f   19  27  r
10 chevrolet    malibu            2.4   2008 4   auto(l4)   f   22  30  r
11 dodge        caravan 2wd       2.4   1999 4   auto(l3)   f   18  24  r
12 honda        civic             1.6   1999 4   manual(m5) f   28  33  r
13 honda        civic             1.6   1999 4   auto(l4)   f   24  32  r
14 honda        civic             1.6   1999 4   manual(m5) f   25  32  r
15 honda        civic             1.6   1999 4   manual(m5) f   23  29  p
16 honda        civic             1.6   1999 4   auto(l4)   f   24  32  r
17 honda        civic             1.8   2008 4   manual(m5) f   26  34  r
18 honda        civic             1.8   2008 4   auto(l5)   f   25  36  r
19 honda        civic             1.8   2008 4   auto(l5)   f   24  36  c
20 honda        civic             2.0   2008 4   manual(m6) f   21  29  p
21 hyundai      sonata            2.4   1999 4   auto(l4)   f   18  26  r
22 hyundai      sonata            2.4   1999 4   manual(m5) f   18  27  r
23 hyundai      sonata            2.4   2008 4   auto(l4)   f   21  30  r
24 hyundai      sonata            2.4   2008 4   manual(m5) f   21  31  r
25 hyundai      tiburon           2.0   1999 4   auto(l4)   f   19  26  r
26 hyundai      tiburon           2.0   1999 4   manual(m5) f   19  29  r
27 hyundai      tiburon           2.0   2008 4   manual(m5) f   20  28  r
28 hyundai      tiburon           2.0   2008 4   auto(l4)   f   20  27  r
29 nissan       altima            2.4   1999 4   manual(m5) f   21  29  r
30 nissan       altima            2.4   1999 4   auto(l4)   f   19  27  r
⋮  ⋮            ⋮                 ⋮     ⋮    ⋮   ⋮          ⋮   ⋮   ⋮   ⋮
52 toyota       camry             2.4   2008 4   auto(l5)   f   21  31  r
53 toyota       camry solara      2.2   1999 4   auto(l4)   f   21  27  r
54 toyota       camry solara      2.2   1999 4   manual(m5) f   21  29  r
55 toyota       camry solara      2.4   2008 4   manual(m5) f   21  31  r
56 toyota       camry solara      2.4   2008 4   auto(s5)   f   22  31  r
57 toyota       corolla           1.8   1999 4   auto(l3)   f   24  30  r
58 toyota       corolla           1.8   1999 4   auto(l4)   f   24  33  r
59 toyota       corolla           1.8   1999 4   manual(m5) f   26  35  r
60 toyota       corolla           1.8   2008 4   manual(m5) f   28  37  r
61 toyota       corolla           1.8   2008 4   auto(l4)   f   26  35  r
62 toyota       toyota tacoma 4wd 2.7   1999 4   manual(m5) 4   15  20  r
63 toyota       toyota tacoma 4wd 2.7   1999 4   auto(l4)   4   16  20  r
64 toyota       toyota tacoma 4wd 2.7   2008 4   manual(m5) 4   17  22  r
65 volkswagen   gti               2.0   1999 4   manual(m5) f   21  29  r
66 volkswagen   gti               2.0   1999 4   auto(l4)   f   19  26  r
67 volkswagen   gti               2.0   2008 4   manual(m6) f   21  29  p
68 volkswagen   gti               2.0   2008 4   auto(s6)   f   22  29  p
69 volkswagen   jetta             1.9   1999 4   manual(m5) f   33  44  d
70 volkswagen   jetta             2.0   1999 4   manual(m5) f   21  29  r
71 volkswagen   jetta             2.0   1999 4   auto(l4)   f   19  26  r
72 volkswagen   jetta             2.0   2008 4   auto(s6)   f   22  29  p
73 volkswagen   jetta             2.0   2008 4   manual(m6) f   21  29  p
74 volkswagen   new beetle        1.9   1999 4   manual(m5) f   35  44  d
75 volkswagen   new beetle        1.9   1999 4   auto(l4)   f   29  41  d
76 volkswagen   new beetle        2.0   1999 4   manual(m5) f   21  29  r
77 volkswagen   new beetle        2.0   1999 4   auto(l4)   f   19  26  r
78 volkswagen   passat            1.8   1999 4   manual(m5) f   21  29  p
79 volkswagen   passat            1.8   1999 4   auto(l5)   f   18  29  p
80 volkswagen   passat            2.0   2008 4   auto(s6)   f   19  28  p
81 volkswagen   passat            2.0   2008 4   manual(m6) f   21  29  p
   class
1  compact
2  compact
3  compact
4  compact
5  compact
6  compact
7  compact
8  compact
9  midsize
10 midsize
11 minivan
12 subcompact
13 subcompact
14 subcompact
15 subcompact
16 subcompact
17 subcompact
18 subcompact
19 subcompact
20 subcompact
21 midsize
22 midsize
23 midsize
24 midsize
25 subcompact
26 subcompact
27 subcompact
28 subcompact
29 compact
30 compact
⋮  ⋮
52 midsize
53 compact
54 compact
55 compact
56 compact
57 compact
58 compact
59 compact
60 compact
61 compact
62 pickup
63 pickup
64 pickup
65 compact
66 compact
67 compact
68 compact
69 compact
70 compact
71 compact
72 compact
73 compact
74 subcompact
75 subcompact
76 subcompact
77 subcompact
78 midsize
79 midsize
80 midsize
81 midsize

Now let us create more tables using our tidyverse datasets

In [23]:

dbWriteTable(con, "flights", flights, overwrite=T)
dbWriteTable(con, "airports", airports, overwrite=T)
dbWriteTable(con, "airlines", airlines, overwrite=T)
dbWriteTable(con, "planes", planes, overwrite=T)
dbWriteTable(con, "weather", weather, overwrite=T)

Warning message:
“Closing open result set, pending rows”

We will define a convenience function to simplify our query

In [24]:
q <- function(...) dbGetQuery(con, ...)
print(q)

function(...) dbGetQuery(con, ...)

### Missing data
In SQL, missing data is coded as `NULL`. This is a special value which is analogous to `NA` in R.

In [25]:
# select non-null dep time

q('SELECT * FROM flights WHERE dep_delay IS NOT NULL') %>% as_tibble %>% print

# filter(flights, !is.na(dep_delay))

# A tibble: 328,521 × 19
    year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time
   <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>
 1  2013     1     1      517            515         2      830            819
 2  2013     1     1      533            529         4      850            830
 3  2013     1     1      542            540         2      923            850
 4  2013     1     1      544            545        -1     1004           1022
 5  2013     1     1      554            600        -6      812            837
 6  2013     1     1      554            558        -4      740            728
 7  2013     1     1      555            600        -5      913            854
 8  2013     1     1      557            600        -3      709            723
 9  2013     1     1      557            600        -3      838            846
10  2013     1     1      558            600        -2      753            745
# ℹ 328,511 more rows
# ℹ 11 more variables: arr_delay <dbl>, carrier <chr>, flight <int>,
#   tailnum <chr>, origin <chr>, dest <chr>, air_time <dbl>, distance <dbl>,
#   hour <dbl>, minute <dbl>, time_hour <dbl>

### Summarizing

The SQL syntax for summarizing is using the `GROUP BY` clause:
```{sql}
SELECT AVG(<col>) AS avg_col FROM <table> GROUP BY(<group cols>)
```
This is the same as:
```{r}
<table> %>% group_by(<group cols>) %>% summarize(avg_col = mean(<col>))
```

In [28]:
# select the average distance and count for each day

q("SELECT year, month, day, AVG(distance) AS avg_dist,
    COUNT() AS n FROM flights GROUP BY year, month, day")

# equivalent to
# flights %>% group_by(year, month, day) %>% summarize(avg_dist = mean(distance), n = n())

    year month day avg_dist  n
1   2013 1      1  1077.4299 842
2   2013 1      2  1053.1177 943
3   2013 1      3  1037.3709 914
4   2013 1      4  1032.4754 915
5   2013 1      5  1067.5917 720
6   2013 1      6  1051.6466 832
7   2013 1      7   998.2572 933
8   2013 1      8   985.5328 899
9   2013 1      9   981.4202 902
10  2013 1     10   993.1856 932
11  2013 1     11   991.9957 930
12  2013 1     12  1029.2087 690
13  2013 1     13  1022.0302 828
14  2013 1     14   992.7575 928
15  2013 1     15   976.3971 894
16  2013 1     16   979.6093 901
17  2013 1     17   990.0076 927
18  2013 1     18   991.0996 924
19  2013 1     19  1036.1098 674
20  2013 1     20  1042.9033 786
21  2013 1     21   999.2544 912
22  2013 1     22   977.7573 890
23  2013 1     23   980.4526 897
24  2013 1     24   990.0962 925
25  2013 1     25   991.1323 922
26  2013 1     26  1029.8132 680
27  2013 1     27  1019.5516 823
28  2013 1     28   991.0683 923
29  2013 1     29   977.7573 890
30  2013 1     30   979.1000 900
⋮   ⋮    ⋮     ⋮   ⋮         ⋮
336 2013 12     2  1045.216  1004
337 2013 12     3  1037.664   973
338 2013 12     4  1028.668   958
339 2013 12     5  1032.431   969
340 2013 12     6  1034.225   970
341 2013 12     7  1076.192   691
342 2013 12     8  1056.778   875
343 2013 12     9  1029.788   962
344 2013 12    10  1019.850   943
345 2013 12    11  1028.249   954
346 2013 12    12  1026.347   968
347 2013 12    13  1034.225   970
348 2013 12    14  1074.860   692
349 2013 12    15  1052.486   880
350 2013 12    16  1031.372   964
351 2013 12    17  1029.697   949
352 2013 12    18  1041.809   956
353 2013 12    19  1072.525   974
354 2013 12    20  1069.397   980
355 2013 12    21  1121.625   811
356 2013 12    22  1101.023   895
357 2013 12    23  1086.943   985
358 2013 12    24  1119.435   761
359 2013 12    25  1117.868   719
360 2013 12    26  1109.999   936
361 2013 12    27  1087.254   963
362 2013 12    28  1122.647   814
363 2013 12    29  1108.057   888
364 2013 12    30  1098.242   968
365 2013 12    31  1127.920   776

### Joins

The SQL syntax for joins:
```{sql}
SELECT * FROM <table> LEFT JOIN <other_table> ON <left_key_col> = <right_key_col>
```
This is the same as:
```{r}
left_join(<table>, <other_table>, by = c("<left_key_col>" = "<right_key_col>"))
```

In [29]:
q("SELECT flights.year, planes.tailnum AS flightyr, * FROM flights
    LEFT JOIN planes ON flights.tailnum = planes.tailnum")

       year flightyr year.1 month day dep_time sched_dep_time dep_delay
1      2013 N14228   2013   1     1   517      515             2
2      2013 N24211   2013   1     1   533      529             4
3      2013 N619AA   2013   1     1   542      540             2
4      2013 N804JB   2013   1     1   544      545            -1
5      2013 N668DN   2013   1     1   554      600            -6
6      2013 N39463   2013   1     1   554      558            -4
7      2013 N516JB   2013   1     1   555      600            -5
8      2013 N829AS   2013   1     1   557      600            -3
9      2013 N593JB   2013   1     1   557      600            -3
10     2013 NA       2013   1     1   558      600            -2
11     2013 N793JB   2013   1     1   558      600            -2
12     2013 N657JB   2013   1     1   558      600            -2
13     2013 N29129   2013   1     1   558      600            -2
14     2013 N53441   2013   1     1   558      600            -2
15     2013 NA       2013   1     1   559      600            -1
16     2013 N708JB   2013   1     1   559      559             0
17     2013 N76515   2013   1     1   559      600            -1
18     2013 N595JB   2013   1     1   600      600             0
19     2013 NA       2013   1     1   600      600             0
20     2013 N644JB   2013   1     1   601      600             1
21     2013 N971DL   2013   1     1   602      610            -8
22     2013 NA       2013   1     1   602      605            -3
23     2013 N633AA   2013   1     1   606      610            -4
24     2013 N3739P   2013   1     1   606      610            -4
25     2013 N53442   2013   1     1   607      607             0
26     2013 NA       2013   1     1   608      600             8
27     2013 NA       2013   1     1   611      600            11
28     2013 N635JB   2013   1     1   613      610             3
29     2013 N794JB   2013   1     1   615      615             0
30     2013 N326NB   2013   1     1   615      615             0
⋮      ⋮    ⋮        ⋮      ⋮     ⋮   ⋮        ⋮              ⋮
336747 2013 N712EV   2013   9     30  2123     2125            -2
336748 2013 N16546   2013   9     30  2127     2129            -2
336749 2013 N807JB   2013   9     30  2128     2130            -2
336750 2013 N751EV   2013   9     30  2129     2059            30
336751 2013 NA       2013   9     30  2131     2140            -9
336752 2013 N335AA   2013   9     30  2140     2140             0
336753 2013 N12957   2013   9     30  2142     2129            13
336754 2013 N633JB   2013   9     30  2145     2145             0
336755 2013 N627JB   2013   9     30  2147     2137            10
336756 2013 N813UA   2013   9     30  2149     2156            -7
336757 2013 N10575   2013   9     30  2150     2159            -9
336758 2013 N906XJ   2013   9     30  2159     1845           194
336759 2013 N722EV   2013   9     30  2203     2205            -2
336760 2013 NA       2013   9     30  2207     2140            27
336761 2013 N12145   2013   9     30  2211     2059            72
336762 2013 N193JB   2013   9     30  2231     2245           -14
336763 2013 N578UA   2013   9     30  2233     2113            80
336764 2013 N804JB   2013   9     30  2235     2001           154
336765 2013 N318JB   2013   9     30  2237     2245            -8
336766 2013 N354JB   2013   9     30  2240     2245            -5
336767 2013 N281JB   2013   9     30  2240     2250           -10
336768 2013 N346JB   2013   9     30  2241     2246            -5
336769 2013 N565JB   2013   9     30  2307     2255            12
336770 2013 N516JB   2013   9     30  2349     2359           -10
336771 2013 N740EV   2013   9     30    NA     1842            NA
336772 2013 NA       2013   9     30    NA     1455            NA
336773 2013 NA       2013   9     30    NA     2200            NA
336774 2013 NA       2013   9     30    NA     1210            NA
336775 2013 NA       2013   9     30    NA     1159            NA
336776 2013 NA       2013   9     30    NA      840            NA
       arr_time sched_arr_time ⋯ time_hour  tailnum year
1       830      819           ⋯ 1357034400 N14228  1999
2       850      830           ⋯ 1357034400 N24211  1998
3       923      850           ⋯ 1357034400 N619AA  1990
4      1004     1022           ⋯ 1357034400 N804JB  2012
5       812      837           ⋯ 1357038000 N668DN  1991
6       740      728           ⋯ 1357034400 N39463  2012
7       913      854           ⋯ 1357038000 N516JB  2000
8       709      723           ⋯ 1357038000 N829AS  1998
9       838      846           ⋯ 1357038000 N593JB  2004
10      753      745           ⋯ 1357038000 NA        NA
11      849      851           ⋯ 1357038000 N793JB  2011
12      853      856           ⋯ 1357038000 N657JB  2007
13      924      917           ⋯ 1357038000 N29129  1998
14      923      937           ⋯ 1357038000 N53441    NA
15      941      910           ⋯ 1357038000 NA        NA
16      702      706           ⋯ 1357034400 N708JB  2008
17      854      902           ⋯ 1357038000 N76515  2008
18      851      858           ⋯ 1357038000 N595JB  2004
19      837      825           ⋯ 1357038000 NA        NA
20      844      850           ⋯ 1357038000 N644JB  2006
21      812      820           ⋯ 1357038000 N971DL  1991
22      821      805           ⋯ 1357038000 NA        NA
23      858      910           ⋯ 1357038000 N633AA  1990
24      837      845           ⋯ 1357038000 N3739P  2000
25      858      915           ⋯ 1357038000 N53442  2009
26      807      735           ⋯ 1357038000 NA        NA
27      945      931           ⋯ 1357038000 NA        NA
28      925      921           ⋯ 1357038000 N635JB  2006
29     1039     1100           ⋯ 1357038000 N794JB  2011
30      833      842           ⋯ 1357038000 N326NB  2001
⋮      ⋮        ⋮              ⋱ ⋮          ⋮       ⋮
336747 2223     2247           ⋯ 1380589200 N712EV  2002
336748 2314     2323           ⋯ 1380589200 N16546  2002
336749 2328     2359           ⋯ 1380589200 N807JB  2012
336750 2230     2232           ⋯ 1380585600 N751EV  2004
336751 2225     2255           ⋯ 1380589200 NA        NA
336752   10       40           ⋯ 1380589200 N335AA  1987
336753 2250     2239           ⋯ 1380589200 N12957  1998
336754  115      140           ⋯ 1380589200 N633JB  2006
336755   30       27           ⋯ 1380589200 N627JB  2005
336756 2245     2308           ⋯ 1380589200 N813UA  1998
336757 2250     2306           ⋯ 1380589200 N10575  2002
336758 2344     2030           ⋯ 1380578400 N906XJ  2007
336759 2339     2331           ⋯ 1380592800 N722EV  2003
336760 2257     2250           ⋯ 1380589200 NA        NA
336761 2339     2242           ⋯ 1380585600 N12145  2003
336762 2335     2356           ⋯ 1380592800 N193JB  2005
336763  112       30           ⋯ 1380589200 N578UA  1993
336764   59     2249           ⋯ 1380585600 N804JB  2012
336765 2345     2353           ⋯ 1380592800 N318JB  2010
336766 2334     2351           ⋯ 1380592800 N354JB  2013
336767 2347        7           ⋯ 1380592800 N281JB  2007
336768 2345        1           ⋯ 1380592800 N346JB  2011
336769 2359     2358           ⋯ 1380592800 N565JB  2003
336770  325      350           ⋯ 1380596400 N516JB  2000
336771   NA     2019           ⋯ 1380578400 N740EV  2004
336772   NA     1634           ⋯ 1380564000 NA        NA
336773   NA     2312           ⋯ 1380592800 NA        NA
336774   NA     1330           ⋯ 1380556800 NA        NA
336775   NA     1344           ⋯ 1380553200 NA        NA
336776   NA     1020           ⋯ 1380542400 NA        NA
       type                    manufacturer                  model
1      Fixed wing multi engine BOEING                        737-824
2      Fixed wing multi engine BOEING                        737-824
3      Fixed wing multi engine BOEING                        757-223
4      Fixed wing multi engine AIRBUS                        A320-232
5      Fixed wing multi engine BOEING                        757-232
6      Fixed wing multi engine BOEING                        737-924ER
7      Fixed wing multi engine AIRBUS INDUSTRIE              A320-232
8      Fixed wing multi engine CANADAIR                      CL-600-2B19
9      Fixed wing multi engine AIRBUS                        A320-232
10     NA                      NA                            NA
11     Fixed wing multi engine AIRBUS                        A320-232
12     Fixed wing multi engine AIRBUS                        A320-232
13     Fixed wing multi engine BOEING                        757-224
14     Fixed wing multi engine BOEING                        737-924ER
15     NA                      NA                            NA
16     Fixed wing multi engine AIRBUS                        A320-232
17     Fixed wing multi engine BOEING                        737-824
18     Fixed wing multi engine AIRBUS                        A320-232
19     NA                      NA                            NA
20     Fixed wing multi engine AIRBUS                        A320-232
21     Fixed wing multi engine MCDONNELL DOUGLAS AIRCRAFT CO MD-88
22     NA                      NA                            NA
23     Fixed wing multi engine BOEING                        757-223
24     Fixed wing multi engine BOEING                        737-832
25     Fixed wing multi engine BOEING                        737-924ER
26     NA                      NA                            NA
27     NA                      NA                            NA
28     Fixed wing multi engine AIRBUS                        A320-232
29     Fixed wing multi engine AIRBUS                        A320-232
30     Fixed wing multi engine AIRBUS INDUSTRIE              A319-114
⋮      ⋮                       ⋮                             ⋮
336747 Fixed wing multi engine BOMBARDIER INC                CL-600-2C10
336748 Fixed wing multi engine EMBRAER                       EMB-145LR
336749 Fixed wing multi engine AIRBUS                        A320-232
336750 Fixed wing multi engine BOMBARDIER INC                CL-600-2C10
336751 NA                      NA                            NA
336752 Fixed wing multi engine BOEING                        767-223
336753 Fixed wing multi engine EMBRAER                       EMB-145LR
336754 Fixed wing multi engine AIRBUS                        A320-232
336755 Fixed wing multi engine AIRBUS                        A320-232
336756 Fixed wing multi engine AIRBUS INDUSTRIE              A319-131
336757 Fixed wing multi engine EMBRAER                       EMB-145LR
336758 Fixed wing multi engine BOMBARDIER INC                CL-600-2D24
336759 Fixed wing multi engine BOMBARDIER INC                CL-600-2C10
336760 NA                      NA                            NA
336761 Fixed wing multi engine EMBRAER                       EMB-145XR
336762 Fixed wing multi engine EMBRAER                       ERJ 190-100 IGW
336763 Fixed wing multi engine BOEING                        757-222
336764 Fixed wing multi engine AIRBUS                        A320-232
336765 Fixed wing multi engine EMBRAER                       ERJ 190-100 IGW
336766 Fixed wing multi engine EMBRAER                       ERJ 190-100 IGW
336767 Fixed wing multi engine EMBRAER                       ERJ 190-100 IGW
336768 Fixed wing multi engine EMBRAER                       ERJ 190-100 IGW
336769 Fixed wing multi engine AIRBUS                        A320-232
336770 Fixed wing multi engine AIRBUS INDUSTRIE              A320-232
336771 Fixed wing multi engine BOMBARDIER INC                CL-600-2C10
336772 NA                      NA                            NA
336773 NA                      NA                            NA
336774 NA                      NA                            NA
336775 NA                      NA                            NA
336776 NA                      NA                            NA
       engines seats speed engine
1       2      149   NA    Turbo-fan
2       2      149   NA    Turbo-fan
3       2      178   NA    Turbo-fan
4       2      200   NA    Turbo-fan
5       2      178   NA    Turbo-fan
6       2      191   NA    Turbo-fan
7       2      200   NA    Turbo-fan
8       2       55   NA    Turbo-fan
9       2      200   NA    Turbo-fan
10     NA       NA   NA    NA
11      2      200   NA    Turbo-fan
12      2      200   NA    Turbo-fan
13      2      178   NA    Turbo-jet
14      2      191   NA    Turbo-fan
15     NA       NA   NA    NA
16      2      200   NA    Turbo-fan
17      2      149   NA    Turbo-fan
18      2      200   NA    Turbo-fan
19     NA       NA   NA    NA
20      2      200   NA    Turbo-fan
21      2      142   NA    Turbo-fan
22     NA       NA   NA    NA
23      2      178   NA    Turbo-fan
24      2      189   NA    Turbo-jet
25      2      191   NA    Turbo-fan
26     NA       NA   NA    NA
27     NA       NA   NA    NA
28      2      200   NA    Turbo-fan
29      2      200   NA    Turbo-fan
30      2      145   NA    Turbo-fan
⋮      ⋮       ⋮     ⋮     ⋮
336747  2       80   NA    Turbo-fan
336748  2       55   NA    Turbo-fan
336749  2      200   NA    Turbo-fan
336750  2       80   NA    Turbo-fan
336751 NA       NA   NA    NA
336752  2      255   NA    Turbo-fan
336753  2       55   NA    Turbo-fan
336754  2      200   NA    Turbo-fan
336755  2      200   NA    Turbo-fan
336756  2      179   NA    Turbo-jet
336757  2       55   NA    Turbo-fan
336758  2       95   NA    Turbo-fan
336759  2       80   NA    Turbo-fan
336760 NA       NA   NA    NA
336761  2       55   NA    Turbo-fan
336762  2       20   NA    Turbo-fan
336763  2      178   NA    Turbo-jet
336764  2      200   NA    Turbo-fan
336765  2       20   NA    Turbo-fan
336766  2       20   NA    Turbo-fan
336767  2       20   NA    Turbo-fan
336768  2       20   NA    Turbo-fan
336769  2      200   NA    Turbo-fan
336770  2      200   NA    Turbo-fan
336771  2       80   NA    Turbo-fan
336772 NA       NA   NA    NA
336773 NA       NA   NA    NA
336774 NA       NA   NA    NA
336775 NA       NA   NA    NA
336776 NA       NA   NA    NA

### Ranking

Ranking operates slightly differently in SQL than dplyr. The overall syntax is:


    SELECT RANK() OVER (
	    PARTITION BY <columns>
	    ORDER BY <expression1> [ASC|DESC], ...
    ) RankedCol FROM <table>
    
    
The easiest way to learn it is to see some examples.

In [ ]:
# rank departure delay by month, day

q('SELECT year, month, day, dep_delay, RANK() OVER (
    PARTITION BY month, day
    ORDER BY dep_delay DESC
    ) r FROM flights')

       year month day dep_delay r
1      2013 1     1   853        1
2      2013 1     1   379        2
3      2013 1     1   290        3
4      2013 1     1   285        4
5      2013 1     1   260        5
6      2013 1     1   255        6
7      2013 1     1   216        7
8      2013 1     1   192        8
9      2013 1     1   157        9
10     2013 1     1   155       10
11     2013 1     1   144       11
12     2013 1     1   141       12
13     2013 1     1   134       13
14     2013 1     1   131       14
15     2013 1     1   129       15
16     2013 1     1   122       16
17     2013 1     1   121       17
18     2013 1     1   119       18
19     2013 1     1   116       19
20     2013 1     1   115       20
21     2013 1     1   109       21
22     2013 1     1   109       21
23     2013 1     1   105       23
24     2013 1     1   105       23
25     2013 1     1   103       25
26     2013 1     1   101       26
27     2013 1     1    96       27
28     2013 1     1    91       28
29     2013 1     1    88       29
30     2013 1     1    88       29
⋮      ⋮    ⋮     ⋮   ⋮         ⋮
336747 2013 12    31  -11       742
336748 2013 12    31  -11       742
336749 2013 12    31  -11       742
336750 2013 12    31  -11       742
336751 2013 12    31  -12       751
336752 2013 12    31  -13       752
336753 2013 12    31  -14       753
336754 2013 12    31  -14       753
336755 2013 12    31  -14       753
336756 2013 12    31  -15       756
336757 2013 12    31  -15       756
336758 2013 12    31  -15       756
336759 2013 12    31  -15       756
336760 2013 12    31  -17       760
336761 2013 12    31   NA       761
336762 2013 12    31   NA       761
336763 2013 12    31   NA       761
336764 2013 12    31   NA       761
336765 2013 12    31   NA       761
336766 2013 12    31   NA       761
336767 2013 12    31   NA       761
336768 2013 12    31   NA       761
336769 2013 12    31   NA       761
336770 2013 12    31   NA       761
336771 2013 12    31   NA       761
336772 2013 12    31   NA       761
336773 2013 12    31   NA       761
336774 2013 12    31   NA       761
336775 2013 12    31   NA       761
336776 2013 12    31   NA       761

In [30]:
# The above query is equivalent to
flights %>% group_by(month, day) %>% mutate(r = min_rank(-dep_delay)) %>%
    select(month, day, dep_delay, r) %>% arrange(month, day, r)

       month day dep_delay r
1      1     1   853        1
2      1     1   379        2
3      1     1   290        3
4      1     1   285        4
5      1     1   260        5
6      1     1   255        6
7      1     1   216        7
8      1     1   192        8
9      1     1   157        9
10     1     1   155       10
11     1     1   144       11
12     1     1   141       12
13     1     1   134       13
14     1     1   131       14
15     1     1   129       15
16     1     1   122       16
17     1     1   121       17
18     1     1   119       18
19     1     1   116       19
20     1     1   115       20
21     1     1   109       21
22     1     1   109       21
23     1     1   105       23
24     1     1   105       23
25     1     1   103       25
26     1     1   101       26
27     1     1    96       27
28     1     1    91       28
29     1     1    88       29
30     1     1    88       29
⋮      ⋮     ⋮   ⋮         ⋮
336747 12    31  -11       742
336748 12    31  -11       742
336749 12    31  -11       742
336750 12    31  -11       742
336751 12    31  -12       751
336752 12    31  -13       752
336753 12    31  -14       753
336754 12    31  -14       753
336755 12    31  -14       753
336756 12    31  -15       756
336757 12    31  -15       756
336758 12    31  -15       756
336759 12    31  -15       756
336760 12    31  -17       760
336761 12    31   NA        NA
336762 12    31   NA        NA
336763 12    31   NA        NA
336764 12    31   NA        NA
336765 12    31   NA        NA
336766 12    31   NA        NA
336767 12    31   NA        NA
336768 12    31   NA        NA
336769 12    31   NA        NA
336770 12    31   NA        NA
336771 12    31   NA        NA
336772 12    31   NA        NA
336773 12    31   NA        NA
336774 12    31   NA        NA
336775 12    31   NA        NA
336776 12    31   NA        NA

## Subqueries

An aspect of SQL I find confusing is that you cannot filter (`WHERE ...`) based on a ranking condition:

In [ ]:
q('SELECT year, month, day, dep_delay, RANK() OVER (
    PARTITION BY month, day
    ORDER BY dep_delay DESC
    ) r FROM flights where r  = 1')

ERROR: Error: misuse of aliased window function r

You need to use subquery to get the result as shown below

In [31]:
q('SELECT year, month, day, dep_delay, r FROM
    (
        SELECT year, month, day, dep_delay, RANK() OVER (
        PARTITION BY month, day
        ORDER BY dep_delay DESC
    ) r FROM flights)
    WHERE r <= 2
')

    year month day dep_delay r
1   2013 1      1   853      1
2   2013 1      1   379      2
3   2013 1      2   379      1
4   2013 1      2   337      2
5   2013 1      3   291      1
6   2013 1      3   268      2
7   2013 1      4   288      1
8   2013 1      4   208      2
9   2013 1      5   327      1
10  2013 1      5   257      2
11  2013 1      6   202      1
12  2013 1      6   163      2
13  2013 1      6   163      2
14  2013 1      7   366      1
15  2013 1      7   293      2
16  2013 1      8   188      1
17  2013 1      8   162      2
18  2013 1      9  1301      1
19  2013 1      9   253      2
20  2013 1     10  1126      1
21  2013 1     10   385      2
22  2013 1     11   360      1
23  2013 1     11   241      2
24  2013 1     12   282      1
25  2013 1     12   158      2
26  2013 1     13   599      1
27  2013 1     13   315      2
28  2013 1     14   334      1
29  2013 1     14   266      2
30  2013 1     15   170      1
⋮   ⋮    ⋮     ⋮   ⋮         ⋮
710 2013 12    17  845       1
711 2013 12    17  503       2
712 2013 12    18  432       1
713 2013 12    18  270       2
714 2013 12    19  849       1
715 2013 12    19  292       2
716 2013 12    20  221       1
717 2013 12    20  213       2
718 2013 12    21  392       1
719 2013 12    21  373       2
720 2013 12    22  486       1
721 2013 12    22  336       2
722 2013 12    23  389       1
723 2013 12    23  314       2
724 2013 12    24  286       1
725 2013 12    24  251       2
726 2013 12    25  321       1
727 2013 12    25  251       2
728 2013 12    26  252       1
729 2013 12    26  248       2
730 2013 12    27  275       1
731 2013 12    27  171       2
732 2013 12    28  314       1
733 2013 12    28  165       2
734 2013 12    29  420       1
735 2013 12    29  306       2
736 2013 12    30  292       1
737 2013 12    30  251       2
738 2013 12    31  220       1
739 2013 12    31  197       2

### Solve
Find the max highway miles across each manufacturer

In [32]:
res <- dbSendQuery(con, "select manufacturer, max(hwy) from mpg group by manufacturer")
dbFetch(res)
dbClearResult(res)

   manufacturer max(hwy)
1  audi         31
2  chevrolet    30
3  dodge        24
4  ford         26
5  honda        36
6  hyundai      31
7  jeep         22
8  land rover   18
9  lincoln      18
10 mercury      19
11 nissan       32
12 pontiac      28
13 subaru       27
14 toyota       37
15 volkswagen   44

## 🤔 Quiz

How many 4 cylinder models are present in this database?

<ol style="list-style-type: upper-alpha;">
    <li>81</li>
    <li>52</li>
    <li>63</li>
    <li>91</li>
</ol>

In [33]:
# fill in the blanks
res <- dbSendQuery(con, "select count(*) from mpg where cyl = 4")
dbFetch(res)
dbClearResult(res)

  count(*)
1 81

### Solve
Extend the above query to retrieve the minimum hwy value across manufacturer and model

In [38]:
res <- dbSendQuery(con, "SELECT manufacturer, model, min(hwy) FROM mpg GROUP BY manufacturer, model")
dbFetch(res)
dbClearResult(res)

   manufacturer model                  min(hwy)
1  audi         a4                     26
2  audi         a4 quattro             25
3  audi         a6 quattro             23
4  chevrolet    c1500 suburban 2wd     15
5  chevrolet    corvette               23
6  chevrolet    k1500 tahoe 4wd        14
7  chevrolet    malibu                 26
8  dodge        caravan 2wd            17
9  dodge        dakota pickup 4wd      12
10 dodge        durango 4wd            12
11 dodge        ram 1500 pickup 4wd    12
12 ford         expedition 2wd         17
13 ford         explorer 4wd           17
14 ford         f150 pickup 4wd        15
15 ford         mustang                20
16 honda        civic                  29
17 hyundai      sonata                 26
18 hyundai      tiburon                24
19 jeep         grand cherokee 4wd     12
20 land rover   range rover            15
21 lincoln      navigator 2wd          16
22 mercury      mountaineer 4wd        17
23 nissan       altima                 26
24 nissan       maxima                 25
25 nissan       pathfinder 4wd         17
26 pontiac      grand prix             25
27 subaru       forester awd           23
28 subaru       impreza awd            25
29 toyota       4runner 4wd            17
30 toyota       camry                  26
31 toyota       camry solara           26
32 toyota       corolla                30
33 toyota       land cruiser wagon 4wd 15
34 toyota       toyota tacoma 4wd      17
35 volkswagen   gti                    24
36 volkswagen   jetta                  23
37 volkswagen   new beetle             26
38 volkswagen   passat                 26

### Solve
Get all the manufacturers who have 4 or more 'compact' car class

In [40]:
res <- dbSendQuery(con, "SELECT manufacturer, class, count(*) FROM mpg WHERE class = 'compact' GROUP BY manufacturer HAVING count(*) >= 4")
dbFetch(res)
dbClearResult(res)

  manufacturer class   count(*)
1 audi         compact 15
2 subaru       compact  4
3 toyota       compact 12
4 volkswagen   compact 14

### Solve
Get distinct car manufacturers in this dataset

In [41]:
res <- dbSendQuery(con, "SELECT DISTINCT manufacturer FROM mpg")
dbFetch(res)
dbClearResult(res)

   manufacturer
1  audi
2  chevrolet
3  dodge
4  ford
5  honda
6  hyundai
7  jeep
8  land rover
9  lincoln
10 mercury
11 nissan
12 pontiac
13 subaru
14 toyota
15 volkswagen

Once done, it is a good idea to disconnect from the database

In [ ]:
dbClearResult(res)
dbDisconnect(con)